/**
* spacing
*/
$space: 25px;
$space-small: 5px;

/**
* colors
*/

$color-special-red: #d01003;

$color-title-normal: #333;
$color-text: $color-title-normal;
$color-text-lighter: #515252;
$color-main-dark: #F9EB33; /* button-dark-bg, button-light-font, navigation-active-border, a-link */
$color-main-dark-active: #F5E32A;
$color-main-light: #FFFAC9; /* button-light-bg */
$color-main-light-acitve: #FFF6A2;
$color-grey-light: #f8f8f8; /* button-light-bg */
$color-grey-light-text: #909090; /* placeholder, landing-page-title-add */
$color-grey-dark: #e4e4e4; /* navigation-hover-border, a-link-border */
$color-grey-dark-bg: #f5f5f5; /* navigation-hover-border, a-link-border */
$color-grey-dark-text: #888888; /* a-link-border */
$color-black-light: #42413E; /* footer */

$color-special-get: #2CBD7A;
$color-special-get-light: #96DDBC;
$color-special-back: #3069BC;
$color-special-back-light: #98B5DC;
$color-special-red: #d01003;
$color-special-green: #36ae03;
$color-special-orange: #f68e05;


/**
* z-index
*/
$zIndex-footer: 1;
$zIndex-BG: 2;
$zIndex-content: 3;
$zIndex-topbar: 5;
$zIndex-contextmenuOverlay: 2000;
$zIndex-contextmenu: 2001;

/* image */
$image-ratio: 75%;


* {
	margin: 0;
	padding: 0;
	list-style: none;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border: none;
	text-decoration: none;
	
	&:focus {
		outline: none;
	}
}

body {  
    background-color: $color-grey-light;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);	
	
	&.modal-open {
		overflow: hidden;
	}
}
body, textarea {
	font-family: Roboto-Regular, Arial;
	
}

header,nav,section,article,aside,footer,hgroup { display: block; }
.clear { clear: both; }

/**
* layout
*/

header.site {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background: $color-main-dark;
	background: white;
	z-index: $zIndex-topbar;
	box-shadow: 0px 1px 3px rgba(0,0,0, 0.1);
	
	nav {
		float: left;
		margin-left: $space;
		margin-left: calc((50% - 720px) + ($space*1));
	}
	
	.containerLogo {
		position: absolute;
		width: 200px;
		left: calc(50% - 100px);
		text-align: center;
		line-height: 69px;
		font-family: Roboto-Bold;
		font-size: 14px;
		color: $color-text;
		cursor: pointer;
		
		img {
			width: 80px;
			display: inline;
			vertical-align: middle;
			margin-top: -2px;
			margin-right: 5px;
		}
		
		
	}	
	
	a {
		font-size: 16px;
		line-height: 70px;
		height: 70px;
		float: left;
		margin-right: $space;
		padding: 0 15px;
		color: $color-title-normal;
		color: $color-text;

		font-family: Roboto-Medium;
		
		&:hover {
			border-bottom: 5px solid $color-grey-dark;
		}
		
		&.current {
			border-bottom: 5px solid $color-main-dark;
		}
				
		&:active {
			border-bottom: 5px solid $color-main-dark;
		}
			
	}
	
	a.profil {
		float: right;
		display: inline-block;
		position: relative;
		
		margin-right: calc((50% - 720px) + ($space*1));
		padding-right: calc(40px + 15px + 10px);
		padding-left: 15px;
			
		span.profilImage {
			position: absolute;
			top: 15px;
			right: 15px;
			
			span.mark {
				top:-7px;
				left: -7px;
			}
		}
	}
	
	
	button.hamburger {
		position: absolute;
		padding-right: calc($space-small * 4);
		padding-left: $space;
		right: 0;
		top: 0;
		font-size: 20px;
		
		width: calc(30px + ($space-small * 4) +  $space);
		height: 50px;
		background: white;
		
		span.mark {
			top: 5px;
			right: 41px;
			left: auto;
		}
		
		div {
			width: 100%;
			height: 3px;
			background: $color-black-light;
			margin: 6px 0;
		}
	}
	
}

.mobile-nav {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	
	overflow: hidden;
	background-image: url(img/lp-header-1.jpg);
	background-size: cover;
	background-position: center center;
	
	.content {
		width: 100vw;
		height: 100vh;
		position: absolute;
		right: 0;
		top: 0;
		padding-top: 4vh;
		padding-left: 10vw;
		background: $color-black-light;
		background: rgba(66, 65, 62, 0.96);
		
		transition: transform 0.2s ease-in-out;
		transition-property: opacity, transform;
		
		opacity: 0;
		transform: scale3d(2, 2, 2);
		
		a {
			float: left;
			width: 100%;
			padding-left: 60px;
			font-size: 16px;
			margin-top: calc($space/2);
			padding-top: calc($space/2);
			color: white;
			position: relative;
			font-family: Roboto-Light;
			
			span.mark {
				width: 11px;
				height: 11px;
				top: 17px;
				left: 40px;
			}
			
			&.current {
				font-family: Roboto-Medium;
			}
		}
		a.profil {
			margin-bottom: 0;
			margin-top: 0;
			border-top: none;
			
			.name {
				font-family: Roboto-Medium;
				font-size: 22px;
				position: relative;
				
				span {
					display: block;
					font-size: 16px;
					font-family: Roboto-Light;
					margin-top: 5px;
				}
			}
			.profilImage {
				width: 75px;
				height: 75px;
				margin-bottom: 5px;
				border: 2px solid white;
			}
		}
		
		div.profil, div.pages, div.logout {
			float: left;
			width: 100%;
			padding-bottom: calc($space*3/2);
			border-bottom: 1px solid $color-text;
		}
		
		div.pages, div.logout {
			padding-top: calc($space/2);
		}
		
		div.logout {
			border-bottom: none;
		}
	}
	
	
	
	&.showMobileNav .content {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

#outherContentWrap {
	transition: transform .2s ease-in-out;
	transition-property: transform, height;
	
	&.showMobileNav-add {
		height: 100vh;
	}
	&.showMobileNav-remove-active {
		overflow: hidden;
		height: 100vh;
	}
	
	&.showMobileNav {
		height: 90vh;
		overflow: hidden;
		transform: scale3d(0.8, 0.8, 0.8) translateX(-95vw);
		box-shadow: 0px 1px 3px rgba(0,0,0, 0.2);
	}
}


#containerMain {
	float: left;
	width: 100%;
	top: 70px;
	min-height: calc(100vh - 70px);
	position: absolute;
	z-index: $zIndex-content;
	padding-bottom: 350px;
		
	.contentContainer {
		float: left;
		width: 100%;
		padding: calc($space*2) calc((50% - 720px) + ($space*1));
		padding-bottom: calc($space*6);
		position: relative;
		background: white;
		min-height: calc(100vh - 120px);
		
	}
	
	&.page_objects {
		.contentContainer {
			margin-top: 0;
			padding: calc($space*6) calc((50% - 720px) + ($space*0));
			padding-top: 0;
		}
	}
	
	&.page_object {
		.contentContainer {
			padding-top: calc($space + 5px);
		}
	}
	
	&.page_home {
		.contentContainer {
			padding-top: calc($space*3);
		}
	}
	
	
	.topContainer, 
	.contentContainer {
		transition: opacity 0.3s ease-in-out;
	}
	
	&.fadeout {
		.topContainer, 
		.contentContainer {
			opacity: 0;
		}
	}
}


footer {
	float: left;
	position: relative;
	z-index: $zIndex-footer;
	background: $color-black-light;
	width: 100vw;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 400px;
	
	
	.content {
		position: absolute;
		bottom: 0;
		width: 1155px;
		margin-left: calc(50% - 600px);
		
		padding-top: calc(125px + ($space*4));
		padding: calc($space*4) calc($space*2);
		
		
		
		.top {
			float: left;
			width: 50%;
			img {
				width: 80px;
				float: left;
				margin-right: 10px;
			}
			.slogan {
				float: left;;
				margin-top: 9px;

				color: $color-grey-light;
				font-family: Roboto-Medium;
				font-size: 16px;
			}
		}
		.bottom {
			float:left;
			margin-right: 20px;
			width: 50%;
			border-top: 1px solid white;
			margin-top: 15px;
			padding-top: 15px;
			color: $color-grey-light;

			font-size: 16px;
			line-height: 23px;
		}
		
		a {
			color: $color-main-dark;
			border-bottom: 1px solid $color-grey-light;
			
			&:hover {
				border-color: $color-main-dark;
			}
		}
	}
	
	
}



.linkFeedback {
	position: fixed;
	bottom: 5px;
	right: 5px;
	background: $color-special-red;
	color: white;
	padding: 15px;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 13px;
	font-family: Roboto-Medium;
	z-index: 200;
	
	&:hover {
		background: #f30202;
	}
}



/**
* text
*/
h1 {
	font-size: 42px;
	margin-bottom: $space;
	font-family: Roboto-Medium;
	font-family: RobotoSlab-Bold;
	font-weight: normal;
	color: $color-title-normal;
}
h2 {
	font-size: 28px;
	margin-bottom: 20px;
	font-family: Roboto-Medium;
	font-family: RobotoSlab-Bold;
	font-weight: normal;
	color: $color-title-normal;
}
h3 {
	font-size: 18px;
	line-height: 23px;
	font-family: Roboto-Medium;
	font-family: RobotoSlab-Bold;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 5px;
	color: $color-title-normal;
}
h4 {
	font-size: 16px;
	font-family: Roboto-Medium;
	font-weight: normal;
	margin-bottom: 8px;
	color: $color-title-normal;
}
p {
	font-family: Roboto-Regular;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 10px;
	color: $color-text;
}
a {
	color: $color-text;
}
a.text {
	border-bottom: 1px solid $color-grey-dark;
	
	&:hover {
		border-color: $color-title-normal;
	}
}
b, strong {
	font-family: Roboto-Medium;
	font-weight: normal;
}
i {
	font-family: Roboto-Italic;
}
span.accountName {
	font-style: italic;
	white-space: nowrap;
}


/**
* page object
*/
#containerMain {
	.objectContentWrapper {
		float: left;
		width: 100%;
		background: white;
		
		
		.topContainer, 
		.topContainer .searchContainer,
		.topContainer .bgImage {
		/*	transition: all 0.3s ease-in-out;*/
		}
		
		.topContainer {
			float: left;
			width: 100%;
			height: calc(100vh - 300px);
			min-height: 500px;
			position: relative;
			
			
			padding: 0 calc(50% - 600px + ($space*2));
			padding-top: 15vh;
	
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			background-color: $color-grey-dark;
					
			&.filtered {
				height: 0;
				min-height: 115px;
				padding-top: $space;
				padding-bottom: $space;
				
				.bgImage {
					opacity: 0;
				}
				.searchContainer {
					box-shadow: none;
					margin-top: 0;
					input {
						font-size: 16px;
						font-family: Roboto-Regular;
						
						
					}
				}
			}
			
			.bgImage {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
				background-color: grey;
			}
			
			h1 {
				font-family: RobotoSlab-Bold;
				color: $color-text;
				position: absolute;
				
			}
			
			.searchContainer {
				float: left;
				width: 100%;
				height: 65px;
				background: white;
				position: relative;
				
				margin-top: 100px;
				
				box-shadow: 0px 1px 3px rgba(0,0,0, 0.1);
							
				input {
					width: 100%;
					height: 45px;
					margin-top: 10px;
					line-height: 45px;
					
					font-size: 24px;
					font-family: Roboto-Regular;
					color: $color-text;
					padding-left: $space;
					
					&::placeholder {
						color: $color-text; 
					}
					
					&:focus {
						&::placeholder {
							color: $color-grey-light-text;
						}
					}
				}
				
				.buttons {
					position: absolute;
					right: 0;
					top: 0;
					width: 360px;
					
					a {
						float: right;
						margin-right: calc($space/2);
						position: relative;
						top: 12px;
	
						background-repeat: no-repeat;
						
						
				
					}
					
			
				}
				
				
			}
		}
		
		
		.topBar {
			margin-left: calc(50% - 650px + ($space*4));
			margin-right: calc(50% - 650px + ($space*4));
	
			position: relative;
			
			.text {
				height: 65px;
				line-height: 65px;
			}
			
			
			a.bt_light {
				position: absolute;
				right: 0;
				top: 19px;
			}
			
		}
		
		.results {
			float: left;
			width: 100%;
			border-top: 1px solid $color-grey-dark;
			padding-top: $space;
		}
		
		.previewRow {
			float: left;
			width: 100%;
			margin-top: calc($space*2);
			margin-bottom: calc($space);
			
			h2 {
				padding-left: calc(20px + ($space*6));
				margin-bottom: calc($space*2);
			}
			
			.buttons {
				float: left;
				width: 100%;
				padding-left: calc(20px + ($space*6));
				margin-top: calc($space*2);
			}
		}
	}
	
}

#contextBoxWrap.category {
	background: white;
	position: absolute;
	left: 0;
	top: calc($space + 50px);
	z-index: $zIndex-contextmenu;
	padding: $space;
	
	box-shadow: 0px 1px 3px rgba(0,0,0, 0.2);
	
	&::before {
		background-color: white;
	    content: "\00a0";
	    display: block;
	    height: 16px;
	    width:  16px;
	    position: absolute;
	    top: -8px;
		right: 80px;
	    transform: rotate( 45deg );
	    box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.05);
	    border-right: none;
	    border-bottom: none;
	}
	
	$count: 5;
	.itemCategory {
		float: left;
		width: calc((100% / $count) - ($space-small/$count*($count - 1)));
		margin-left: $space-small;
		margin-bottom: $space-small;
		
		transition: all 0.1s ease-in-out;	
		
		&:nth-child(5n+1) {
			margin-left: 0;
		}
		
		&:hover {
			
			.info {
				background-color: $color-main-dark-active;
			}
		}
		&:active {
			transform: scale3d(0.95,0.95,0.95);
		}
		
		.imageWrap {
			float: left;
			width: 100%;
			position: relative;
			cursor: pointer;
			background: $color-grey-light;
			
			.height {
				float: left;
				width: 1px;
				padding-top: $image-ratio;
			}
				
			.img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center center;
			}
		}

		.info {
			float:left;
			width: 100%;
			height: 25px;
			line-height: 25px;
			background: white;
			position: relative;
			
			width: calc(100% - ($space-small*4));
			margin-left: calc($space-small*2);
			margin-top: calc(-$space-small*2 - 25px);
			
			.categoryName {
				float: left;
				width: calc(100% - 20px - 10px);
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				padding-left: 10px;

				font-size: 13px;
				font-family: Roboto-Medium;
			}
			
			.count {
				position: absolute;
				right: 0;
				top: 0;
				padding-right: 10px;
				font-size: 11px;
			}
		}
	}
	
	> a {
		position: absolute;
		top: $space;
		right: $space;
	}
	
			
} 



/* contextbox */
#contextBoxWrap {
	z-index: $zIndex-contextmenu;
	position: absolute;
	top: 0;
	left: 9;
	background: white;
	
	
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
	
	&::before {
		background-color: white;
	    content: "\00a0";
	    display: block;
	    height: 16px;
	    width:  16px;
	    position: absolute;
	    transform: rotate( 45deg );
	    box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.06);

	}
	
	&.arrowTopRight {
		&::before {
			top: -8px;
			right: 30px;
		}
	}
	
	&.login {
		width: 300px;
		margin-left: calc(-300px);
		margin-top: 18px;
	}
	
	&.profil,
	&.profilEditMenu {
		width: 250px;
		margin-left: calc(-250px);
		margin-top: 18px;
	}
	
	&.orderMenu {
		width: 150px;
		margin-left: calc(-150px);
		margin-top: 18px;
	}
	
	&.ownObjectMenu {
		width: 150px;
		margin-left: calc(-127px);
		margin-top: 18px;
	}
	&.boxGet,
	&.boxBack,
	&.timepicker {
		width: 300px;
		margin-left: calc(-150px - 18px);
		margin-top: 18px;
	}
	
	&.category {
		width: 1100px;
		margin-left: calc(-1069px - 18px);
		margin-top: 18px;
		&.filtered {
			margin-left: calc(-1010px - 18px);
			&::before {
				top: -8px;
				right: 83px;
			}
		}
	}
	
	&.menu {
		a {
			padding: 14px 20px;
			display: inline-block;
			width: 100%;
			font-size: 16px;
			position: relative;
			color: $color-text;
			
			&.current {
				background-color: $color-grey-light;
				font-family: Roboto-Medium;
			}
			
			&:hover {
				background-color: $color-grey-light;
			}
			
			&:active {
				background-color: $color-grey-dark;
			}
	
		}
	}
	
	.header {
		float: left;
		width: 100%;
		height: 40px;
		position: fixed;
		top: 0;
		left: 0;
		background: $color-main-dark;
		z-index: 11;
		box-shadow: 0px 1px 3px rgba(0,0,0, 0.1);
		
		display: none;
		
		a.close {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}
#contextBoxOverlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: white;
	opacity: 0;
	z-index: $zIndex-contextmenuOverlay;
	top: 0;
	left: 0;
}


/**
* mark
*/
span.mark {
	position: absolute;
	left: -11px;
	top: -11px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: $color-special-red;
	border: 2px solid white;
	margin-top: 0;
	margin-left: 0;
	
	&.small {
		width: 7px;
		height: 7px;
		top: 19px;
		left: 6px;
		border-width: 1px;
	}
}


/**
* profilImage
*/
.profilImage {
	border-radius: 50%;
	display: inline-block;
	background-size: cover;
	background-color: white;
	
	&.xlarge {
		width: 150px;
		height: 150px;
	}
	
	&.large {
		width: 100px;
		height: 100px;
	}
	
	&.medium {
		width: 60px;
		height: 60px;
	}
	
	&.small {
		width: 40px;
		height: 40px;
	}
}

/**
* Modal
*/
.modalHead {
	float: left;
	width: 100%;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	background: $color-main-dark;
	z-index: 11;
	box-shadow: 0px 1px 3px rgba(0,0,0, 0.1);
	
	a.close {
		position: absolute;
		right: 0;
		top: 0;
	}
	
}
.modalBody {
	max-height: calc(100vh - 100px);
	overflow: auto;
	float: left;
	margin-top: 40px;
	
	&.space {
		padding-top: calc($space*2);
	}
}



/**
* Form	
*/
img.thumb {
	max-width: 100px;
	max-height: 100px;
}
button {
	cursor: pointer;
}
.formText {
	float:left;
	width: 100%;
	width: calc(100% - (4*$space));
	margin-left: calc(2*$space);
	margin-bottom: $space;
	margin-top: $space;
	h3 {
		margin-top: $space-small;
	}
}

.formRowImage {
	float:left;
	width: 100%;
	padding-top: $space;
	padding-bottom: $space;
	background: $color-grey-light;
	margin-bottom: $space;
	text-align: center;
	
	.picAdd {
		display: inline-block;
		width: 150px;
		height: 150px;
		margin: 0 10px;
		
		background: white;
		overflow: hidden;
		border: 1px solid $color-grey-dark;
		position: relative;
		
		.new,
		.delete {
			position: absolute;
			bottom: 13px;
			left: 0;
			width: 100%;
			text-align: center;
			background: white;
			padding: 2px;
			font-size: 12px;
			text-transform: uppercase;
		}
		
		.delete {
			bottom: auto;
			top: 13px;
		}
		
		.image {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top:0;
			background-position: center center;
			background-size: cover;
		}
		
		input {
			display: block !important;
			width: 100% !important;
			height: 100% !important;
			opacity: 0 !important;
			overflow: hidden !important;
			cursor: pointer;
		}
		
		&.round {
			border-radius: 50%;
		}
	}
}
.formRow {
	position: relative;
	float: left;
	width: calc(100% - (4*$space));
	margin-bottom: 6px;
	padding-bottom: 16px;
	margin-left: calc(2*$space);
	
	label {
		display: block;
		font-size: 14px;
		margin-bottom: 5px;
		color: $color-grey-dark-text;
		
		&.checkbox {
			color: black;
			margin-top: 5px;
			
			input {
				margin-right: 1px;
			}
		}
	}
	
	input[type=text],
	input[type=password],
	input[type=email],
	textarea {
		font-size: 14px;
		border: 1px solid $color-grey-dark;
		padding: 10px;
		width: 100%;
	}
	
	textarea {
		height: 80px;
	}
	
	select {
		font-size: 14px;
		float:left; margin-right: 10px;
	}
	
	&.error {
		input[type=text],
		input[type=password],
		input[type=email],
		textarea {
			border-color: $color-special-red;
		}
	}
	
	.warning {
		font-size: 12px;
		padding: 4px;
		color: white;
		background: $color-special-red;
		float:left;
	}
	
	
}
.formMessage {
	float: left;
	width: 100%;
	font-size: 12px;
	text-align: center;
	padding: calc($space/2);
	margin-bottom: $space;
	background: $color-special-red;
	color: white;
}
.buttonContainer {
	float: left;
	width: calc(100% - (4*$space));
	margin-left: calc(2*$space);
	margin-bottom: calc(2*$space);
	margin-top: 16px;
}

input, select, textarea, button {
	&:focus {
		outline: none;		
	}
	&::placeholder {
		color: $color-grey-light-text;
	}
}

form {
	input, textarea {
		border: 1px solid $color-grey-dark;
		font-size: 14px;
		padding: 8px;
		
		&:focus {
			background-color: $color-main-light;	
			border-color: $color-main-dark;	
		}
	}
}

/* special */
.directContact {
	float:left;
	margin-left: 15px;
	width: calc(100% - 15px);
	background: $color-grey-light;
	padding: calc($space/2);
	font-size: 14px;
	
	.label {
		font-family: Roboto-Medium;
		margin-bottom: 5px;
	}
}



/**
* Buttons
*/
a.bt_light, a.bt_dark, button.bt_dark, input.bt_dark, input.bt_light {
	position: relative;
	padding: 0 calc($space/2);
	height: 40px;
	
	display: inline-block;
	font-size: 14px;
	font-family: Roboto-Medium;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	white-space: nowrap;
	cursor: pointer;
	
	transition: background-position 0.1s ease-in-out;
	
	&.arrowDown, &.arrowRight, &.add, &.cancel, &.close, &.ok, &.category {
		padding-right: calc(($space/2) + 10px + 12px);
		background-size: 12px;
		background-position: calc(100% - ($space/2)) center;
		background-repeat: no-repeat;
	}
	&.arrowRight {
		padding-right: calc(($space/2) + 10px + 7px);
		background-size: 7px;
		
		&:hover {
			background-position-x: calc((100% - ($space/2)) + 3px);
		}
	}
	&.arrowDown {
		background-image: url(img/arrow-down-black.svg);
		
		&.active,
		&:hover {
			background-position-y: calc(50% + 3px);
		}
	}
	&.close {
		background-image: url(img/icon-close-black.svg);
		background-position: center center;
		span {
			display: none;
		}
	}
	&.cancel {
		background-image: url(img/icon-close-black.svg);
	}
	&.ok {
		background-image: url(img/icon-ok-black.svg);
		background-position: center center;
		background-size: 15px;
		span {
			display: none;
		}
	}
	&.category {
		background-image: url(img/icon-filter-black.svg);
		background-position: center center;
		background-size: 20px;
		span {
			display: none;
		}
	}
	&.add {
		background-image: url(img/icon-add-black.svg);
	}
	
	&:disabled,
	&.inactive {
		opacity: 0.5;
		box-shadow: none;
		cursor: default;
		
		&:hover,
		&:active {
			background-position: calc(100% - ($space/2)) center;
		}
	}
	
}
a.bt_light, input.bt_light {
	background: $color-grey-light;
	background: $color-main-light;
	border: 2px solid $color-main-dark;
	background: white;
	
	line-height: 38px;
	color: $color-text;
	
	&:hover,
	&.active,
	&:active {
		background-color: $color-main-light;
	}
	

	&.arrowRight {
		background-image: url(img/arrow-right-black.svg);
	}
	

	
}

a.bt_dark, button.bt_dark, input.bt_dark {
	color: $color-text;
	background: $color-main-dark;

	border: none;
	line-height: 42px;
	
	&:hover {
		background-color: $color-main-dark-active;
	}
	&:active {

	}
	
	&.arrowRight {
		background-image: url(img/arrow-right-black.svg);
	}
}
input.bt_dark {
	width: 100%;
}

a.bt_light.small, a.bt_dark.small, button.bt_dark.small {
	font-size: 12px;
	height: 29px;
	cursor: pointer;
	background-size: 10px;
	padding-right: calc(($space-small*1) +  10px + ($space-small*2));
	padding-left: calc($space-small*2);
	
	background-position-x: calc(100% - ($space-small*2));
	
	&.arrowDown {
		&:hover {
			background-position-y: calc(50% + 2px);
		}
	}
	
	&.arrowRight {
		background-size: 6px;
		padding-right: calc(($space-small*1) +  8px + ($space-small*2));
		&:hover {
			background-position-x: calc((100% - ($space-small*2)) + 3px);
		}
	}
}

a.bt_light.small {
	line-height: 26px;
}
a.bt_dark.small, button.bt_dark.small {
	line-height: 30px;
}



/**
* object item
*/
.itemObject {
	float: left;
	width: calc((100% / 4) - ($space / 4*3));
	margin-left: $space;
	margin-top: $space;
	
	
	margin: 0;
	width: calc((100% / 4) - ($space-small / 4*3));
	margin-left: $space-small;
	margin-bottom: $space-small;


	transition: all 0.1s ease-in-out;
	transition-property: transform;

	position: relative;
	cursor: pointer;
	
	&:nth-child(4n+1) {
		margin-left: 0;
	}
	
	
	
	&:active {
		transform: scale3d(0.95,0.95,0.95);
	}
	
	.imageWrap {
		float: left;
		width: 100%;
		position: relative;
		
		
		.height {
			float: left;
			width: 1px;
			padding-top: $image-ratio;
		}
			
		.img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center center;
		}
	}
	
	.info {
		float:left;
		width: 100%;

		padding: 10px;
		position: relative;
		
		transition: all 0.2s ease-in-out;
		
		
		width: 60px;
		height: 60px;
		background: none;
		margin-left: calc($space-small*2);
		margin-top: calc(-$space-small*2 - 60px);
		
		overflow: hidden;
		
		
		
		.profilImage {
			float: left;
			margin-right: 10px;
			border: 2px solid white;
			transition: all 0.2s ease-in-out;
			width: 50px;
			height: 50px;
			margin-top: -5px;
			margin-left: -5px;
		}
		.objectName,
		.accountName {
			float: left;
			width: calc(100% - 47px - 10px);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 17px;
			
			font-size: 13px;
		}
		.objectName {
			font-family: Roboto-Medium;
			font-size: 14px;
			margin-top: 3px;
		}
		
		a.edit {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 13px;
			margin-top: 0;
			height: 30px;
			width: 40px;
			text-indent: 1000px;
			overflow: hidden;
			

			
			background-image: url(img/arrow-down-black.svg);
			background-size: 12px;
			background-position: calc(100% - 10px) center;
			background-repeat: no-repeat;
			
			transition: all 0.1s ease-in-out;
			
			&:hover {
				background-position-y: calc(50% + 3px);
			}
			
			
		}
		
	}
	
	&.deactivated {
		.imageWrap,
		.objectName {
			opacity: 0.5;
		}
		
	}
}

.page_profil-objects .itemObject {
	
	transition: none;
	transform: none;
	
	.info {
		overflow: visible;
		height: 30px;
		margin-top: calc(-$space-small*2 - 30px);
		width: calc(100% - ($space-small*4));
		background: $color-main-dark;
		padding-top: 0;
		.objectName {
			line-height: 30px;
			margin: 0;
		}
	}
}

body.click-device {
	.itemObject {
		&:hover {
			.info {
				background: $color-main-dark;
				width: calc(100% - ($space-small*4));
				border-radius: 0;
				.profilImage {
					width: 40px;
					height: 40px;
					margin-top: 0;
					margin-left: 0;
					border-color: $color-main-dark;
				}
			}
	
		}
		
	}
}

body.touch-device {
	.itemObject {
		.info {
			width: 100%;
			height: 60px;
			background: white;
			margin-left: 0;
			margin-top: 0;
		}
		
		&:active {
			.info {
				background: $color-main-dark;
			}
		}
	}
}


/**
* containerLandingPage
*/
#containerMain.page_home {
	margin-top: 0;
}
#containerLandingPage {
	.info {		
		float: left;
		width: calc(60% - ($space));
		margin-left: $space;
		
	}
	
	.login {
		float: left;
		width: calc(40% - ($space));
		padding-left: calc($space*2);
		
		form {
			background: $color-grey-light;
			padding: $space;
			
			input[type=text],
			input[type=password] {
				font-size: 16px;
				border: 1px solid #e4e4e4;
				padding: 8px;
				width: 100%;
				margin-bottom: 10px;
			}
			
			button {
		
				margin-top: 20px;
			}
			
			.message {
				color: $color-special-red;
				font-size: 14px;	
				margin-bottom: 10px;
			}
		}
		
		
	}
	img.logo {
		display: block;
		width: 80px;
		margin-bottom: $space;
		margin-left: $space;
	}
	
	i {
		font-family: Roboto-MediumItalic;
	}
		
	
}

/**
* profil
*/
nav.sub {
	float: left;
	width: calc((100% / 4) - ($space));

	
	a {
		padding: 15px 15px;
		display: inline-block;
		width: 100%;
		position: relative;
		color: $color-text;
		border-bottom: 5px solid white;
		padding-bottom: 10px;
		
		
		&:hover {
			border-bottom: 5px solid $color-grey-dark;
		}
		&.current {
			font-family: Roboto-Medium;
			border-bottom: 5px solid $color-main-dark;
		}
		
		&:active {
			border-bottom: 5px solid $color-main-dark;
		}
		
		.mark {
			top: 19px;
		}
	}
}

.page_profil-objects {
	.btContainer {
		margin-top: 35px;
		margin-bottom: $space;
	}
}
#containerProfil {
	position: relative;
	float: right;
	width: calc((100% / 4 * 3) - ($space));

	margin-left: $space;
}

.page_profil-base #containerProfil {
	
	.profilImage {
		float: left;
	}
	
	.contact {
		width: calc(100% - 150px - $space);
		float: right;
		
		
		div {
			font-size: 16px;
			line-height: 22px;
		}
		.group {
			.base {
				float: left;
				width: 100%;
				margin-bottom: 10px;
			}
			.person1,
			.person2 {
				float: left;
				width: 50%;
			}
		}
		
		.name {
			font-family: Roboto-Medium;
		}
	}
	
	.description {
		float: left;
		width: 100%;
		margin-top: $space;
		padding-left: calc(150px + $space);
	}
	
	#btProfilEdit {
		position: absolute;
		right: 0;
		top: 0;
		
		
	}
	
	
	.editMessage {
		position: absolute;
		right: calc($space + 150px);
		top: 0;
		width: 300px;
		padding: 10px;
		background: $color-special-red;
		color: white;
		font-size: 14px;
		font-family: Roboto-Medium;
		
		&::before {
			background: $color-special-red;
		    content: "\00a0";
		    display: block;
		    height: 16px;
		    width:  16px;
		    position: absolute;
		    top: 12px;
			right: -7px;
		    transform: rotate( 45deg );
		}
	}
}

.page_profil-lend, .page_profil-borrow {
	.listContainer {
		float: left;
		width: 100%;
		margin-top: calc($space*2);
		
		.itemLend {
			float: left;
			width: 100%;
			margin-bottom: calc($space*2);
			
			.toolbar {
				float: left;
				width: 100%;
				background: $color-grey-dark-bg;
				
				line-height: 40px;
				height: 40px;
				.status {
					position: relative;
					float: left;
					font-family: Roboto-Medium;
					text-transform: uppercase;
					font-size: 14px;
					padding: 0 calc($space-small*4);
					padding-left: calc(($space-small*4) + 15px);
					background-position: calc($space-small * 2) center;
					background-repeat: no-repeat;
					background-size: 15px;
					letter-spacing: 0.5px;
					
				
				}
				a {
					float: right;
				}
			
				&.state-alert .status {
					color: $color-special-red;
					background-image: url(img/icon-alert-red.svg);
					background-position-y: calc(50% - 1px);
					background-size: 16px;
					padding-left: calc(($space-small*4) + 15px);
				}
				&.state-abort .status {
					color: $color-special-red;
					background-image: url(img/icon-close-red.svg);
					background-position-y: calc(50% - 1px);
					background-size: 10px;
					padding-left: calc(($space-small*4) + 10px);
				}
				&.state-wait .status {
					color: $color-special-orange;
					background-image: url(img/icon-wait-orange.svg);
					background-position-y: calc(50% - 1px);
				}
				&.state-ok .status {
					background-image: url(img/icon-ok-green.svg);
					background-position-y: calc(50% - 1px);
					color: $color-special-green;
				}
				
				
				
			}
			
			.what {
				float: left;
				width: calc(100% / 3);
				background: $color-grey-light;
				padding: calc($space*2) $space;
				padding-bottom: 0;
				
				background-image: url(img/arrow-right-color.svg);
				background-position: calc(50% + $space-small) calc($space-small*12);
				background-repeat: no-repeat;
				background-size: 25px;
				
				.img {
					float: left;
					width: calc(38%);
					background-position: center center;
					background-size: cover;
					
					.height {
						float: left;
						width: 1px;
						padding-top: $image-ratio;
					}
				}
				
				.person {
					float: right;
					width: calc(38%);
					text-align: center;
					.profilImage {
						margin-bottom: 5px;
					}
					.name {
						font-family: Roboto-Medium;
						font-size: 14px;
					}
				}
			}
			
			
			
			.von, .bis, .closed, .what {
				min-height: 190px;
			}
			
			
			.von, .bis, .closed {
				float: left; 
				width: calc((100% / 3) - ($space-small));
				background: $color-grey-light;
				text-align: center;
				padding: $space;
				
			}
			
			.closed {
				width: calc((100% / 3 *2) - ($space-small));
				
			
				.statement {
					font-family: Roboto-Italic;
				}
			}
			
			
			.von, .bis, .closed {
				margin-left: $space-small;
				
				.title {
					float: left; 
					width: 100%;
					font-size: 14px;
					font-family: RobotoSlab;
					color: $color-text-lighter;
					margin-bottom: calc($space-small*4);
					
					
				}
				.date {
					float: left;
					width: 100%;
					font-size: 30px;
					
					margin-bottom:calc($space-small*1);
				}
				.time {
					float: left;
					width: 100%;
					font-size: 25px;
				}
			}
			
		}
		
		h3 {
			float: left;
			width: 100%;
			margin-top: calc($space*2);
			margin-bottom: calc($space*2);
		}
	}
}

.page_profil-borrow .listContainer .itemLend .what {
	background-position: calc(50% - 5px) calc(5px*12);
	    
	.img {
		float: right;
	}
	
	.person {
		float: left;
	}
			
}

/**
* object-detail
*/
.page_object {
	#btEditObject {
		position: absolute;
		right: calc($space*2);
		right: calc((50% - 720px) + ($space*1));
		top: $space;
	}
	
	.objectInfo {
		float: left;
		width: calc(50% - $space);

		
		.containerImage {
			position: relative;
			float: left;
			width: 100%;
			
/*			border: 5px solid white;*/
			background: $color-black-light;
			
			.containerCarousel {
				float: left;
				width: 100%;
				position: relative;
				
				.height {
					float: left;
					width: 1px;
					padding-top: $image-ratio;
				}
				
				ul {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					
					
					
					li {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						
						
						.img {
							height: 100%;
							width: 100%;
							
							
							background-size: contain;
							background-repeat: no-repeat;
							background-position: center center;
							
						}
						
					}
				}
			}
			
			.footer {
				float: left;
				width: 100%;
				
				padding: calc($space/1);
				
				background: $color-main-dark;
				background: white;
				border-left: 2px solid $color-grey-light;
				border-right: 2px solid $color-grey-light;
				
				.profilImage {
					float: left;
					margin-right: calc($space/1);
					margin-left: 25px;
				}
				.accountName, .address {
					float: left;
					width: calc(100% - 100px - $space);
			
					line-height: 22px;
				}
				.accountName {
					font-family: Roboto-Medium;
					font-size: 28px;
					margin-bottom: 8px;
					margin-top: 7px;
				}
			}
		}
		
		.containerText {
			float: left;
			width: 100%;
			background: $color-grey-light;
			padding:  $space 10px;
			
			.textRow {
				float: left;
				width: 100%;
				.label {
					float: left;
					width: calc(100px + 2px);
					text-align: right;
					margin-right: $space;
					color: $color-grey-light-text;
					line-height: 23px;
				}
				.text {
					float: left;
					width: calc(100% - 100px - 2px - $space);
				}
			}
			
			h3 {
				margin-top: 10px;
			}
		}
	}
	
	.requestInfo {
		float: left;
		width: calc(50% - ($space));
		margin-left: calc($space*2);
		font-size: 16px;
		line-height: 19px;
		
		h2 {
			margin-bottom: 25px;
		}
		.availableText {
			font-family: Roboto-Italic;
			width: 100%;
		}
		
		.containerContact, .containerRequest {
			float: left;
			
			margin-top: $space;
			background: $color-grey-light;
			
			.title {
				float: left;
				width: 100%;
				color: $color-title-normal;
				background: white;
				line-height: 45px;
				padding: 0 calc($space/2);
				font-family: RobotoSlab;
				font-size: 18px;
				
				background: $color-main-dark;
			}
		}
		
		.containerContact {
			width: calc(100% - 345px - $space);
			margin-right: $space;
			.contactType {
				font-family: Roboto-Medium;
			}
				
			.info {
				padding: calc($space);
				
				float: left;
				width: 100%;
				
				line-height: 22px;
			
				.name {
					font-family: Roboto-Medium;
					margin-top: 10px;
				}
				
				
			}
		}
		
		.containerRequest {
			width: 345px;
			
			&.timepicker-open .content .wizardContainer .inner .calendar .uib-datepicker table.uib-daypicker tr td button.active {
					background-color: $color-main-light;

			}
						
			.content {
				float: left;
				width: 100%;
				padding: calc($space);
				position: relative;
				
				
				
				.wizardContainer {
					width: 100%;
					overflow: hidden;
					float: left;
					
					
					&.step1 .inner form,
					&.step2 .inner form {
						display: none;
					}
					&.step2 .inner {
						transform: translateX(calc((100% /3 * -1)));
					}
					&.step3 .inner {
						transform: translateX(calc((100% /3*2 * -1)));
					}
					
					.inner {
						float: left;
						width: calc(300% + (3*$space));
						
						transition: all 0.3s ease-in-out;
						
						h3 {
							margin-top: 0;
							margin-bottom: calc($space-small*3);
							text-align: center;
							
							span {
								background-image: url(img/icon-arrow-get.svg);
								background-size: 14px;
								background-repeat: no-repeat;
								background-position: left center;
								padding-left: 20px;
								
								&.back {
									background-image: url(img/icon-arrow-back.svg);
								}
							}
						}
						
						a.arrowRight {
							float: right;
							margin-top: $space;
						}
						a.arrowLeft {
							float: left;
							margin-top: $space;
						}
							
						.form {
							float: left;
							width: calc((100% /3) - $space);
							
							.summary {
								float: left;
								width: 100%;
								margin-top: $space-small;
								
								h3 {
									text-align: left;
									margin-bottom: calc($space-small*2);
								}
								div.get, div.back {
									float: left;
									width: 100%;
									margin-bottom: calc($space-small*3);
								}
								div.get {
									margin-bottom: calc($space-small*6);
								}
								.day {
									float: left;
									width: calc(100% / 3);
									line-height: 20px;
									
									.name {
										font-family: Roboto-Medium;
										margin-bottom: $space-small;
									}
								}
							}
							
							form {
								float: left;
								width: 100%;
								margin-top: $space;
								
								textarea {
									font-size: 14px;
									border: 1px solid $color-grey-dark;
									padding: 10px;
									height: 70px;
									width: 100%;
								}
								
								.label {
									font-size: 16px;
									color: $color-text-lighter;
									float: left;
									width: 100%;
									margin-top: $space;
									margin-bottom: calc($space-small*2);
								}
								
								label.checkbox {
									float: left;
									width: 100%;
									padding-left: 20px;
									position: relative;
									font-size: 14px;
									margin-bottom: $space-small;
									input {
										position: absolute;
										left: 0;
										top: 3px;
									}
								}
								
								input[type=submit] {
									margin-top: $space;
									width: auto;
									float: right;
								}
							}
						}
						
						.calendar {
							float: left;
							
							position: relative;
				
							padding: 0;
							
							width: calc(100% /3);
							padding-right: calc($space);
							
														
							
														
							.uib-datepicker {
								width: 100%;
								font-family: Roboto-Regular;
								background: white;
								padding: $space-small;
								
								button {
									background: none;
									&.uib-title {
										color: $color-text;
										
										font-size: 14px;
										padding: 5px;
										cursor: default;
										
										strong {
											font-family: Roboto-Medium;
										}
										
									}
									
									strong {
										font-weight: normal;
									}
								}
								
								table.uib-daypicker {
									width: 100%;
									border-collapse: collapse;
									background: white;
									
									tr th {
										background: white;
										font-weight: normal;
									
									}
									tr:first-child {
										th {									
											button.uib-left,  button.uib-right {
												min-height: 20px;
												background: url(img/arrow-right-black.svg);
												background-repeat: no-repeat;
												background-size: 7px;
												background-position: center center;
												background-color: $color-main-dark;
												width: 100%;
												min-height: 40px;
												
												transition: all 0.1s ease-in-out;
												
												&:hover {
													background-color: $color-main-dark-active;
													background-position-x: calc(50% + 3px);
												}
											}
											
											button.uib-left {
												background-image: url(img/arrow-left-black.svg);
												&:hover {
													background-position-x: calc(50% - 3px);
												}
											}
										}
									}
									tr:nth-child(2) {
										th {
											padding: 10px;
											font-family: Roboto-Medium;
											text-transform: uppercase;
											
										}
									}
									
									
									tr {
										td {
											button {
												min-width: calc(100% - 2px);
												margin-left: 1px;
												margin-right: 1px;
												background: white;
												padding: 10px 8px;
												margin-top: 2px;
												font-size: 12px;
												
								
												
												&:hover {
													background: $color-main-light;
												}
												&:active {
													color: $color-text;
													background: $color-main-light-acitve;
												}
												
												&:disabled {
													cursor: default;
													background: $color-grey-light;
													color: $color-grey-light-text;
												}
												&.other-month {
													display: none;
													/*
													cursor: default;
													color: $color-grey-light-text;
													
													&:hover {
														background: white;
													}
													*/
												}
												
												
											}
											
											&.suggestion_back {
												button {
													background: $color-special-back !important;
													font-family: Roboto-Medium;
													color: white;
													
													&:disabled {
														background-color: $color-special-back-light !important;
													}
												}
											}
											&.suggestion_get {
												button {
													background: $color-special-get !important;
													font-family: Roboto-Medium;
													color: white;
													
													&:disabled {
														background-color: $color-special-get-light !important;
													}
												}
											}
											
											&.today {
												button {
													span {
														font-family: Roboto-Medium;
														border-bottom: 2px solid $color-main-dark;
													}
												}
											}
										}
									}
									
								}
								
							}
							
							.text {
								float: left;
								width: 100%;
								padding: $space-small;
								margin-top: $space-small;
								text-align: center;
								p {
									font-size: 14px;
									line-height: 18px;
									font-family: Roboto-Medium;
								}
							}
							
							
						}
						
						
					}
				}
			}
			
			
			
		}
		
		
		
		
	}
}

#contextBoxWrap.boxGet,
#contextBoxWrap.boxBack {
	.title {
		position: absolute;
		top: 0;
		left: 0;
	}
		
	.content {
		float: left;
		width: 100%;
		margin-top: 50px;
		max-height: calc(100vh - 350px);
		overflow: scroll;
		
		a.cancel {
			margin-top: $space;
			margin-bottom: $space;
		}
	}
}

#contextBoxWrap.boxGet,
#contextBoxWrap.boxBack,
#contextBoxWrap.timepicker {
	position: absolute;
	background: white;
		
	text-align: center;
	
	&::before {
		right: calc(150px - 8px);
		top: -8px;
		background: $color-main-dark;
	}
	
	.title {
		width: 100%;
		background: $color-main-dark;
		line-height: 20px;
		font-size: 14px;
		float: left;
		padding: calc($space-small*2);
		
		font-family: Roboto-Medium;
		
		.bt_dark {
			position: absolute;
			top: 0;
			right: 0;
			width: 20px;
		}
	}
	.text {
		width: 100%;
		float: left;
		padding: calc($space-small*2);
		font-size: 14px;
		background:$color-grey-light;
		margin-bottom: calc($space-small*2);
		font-family: Roboto-Medium;
	}
	
	.day-title {
		float:left; 
		width: 100%;
		text-align: center;
		padding: $space-small;
		font-size: 14px;
		font-family: RobotoSlab;
		color: $color-black-light;
	}
	
	.times {
		float: left;
		width: 100%;
		padding: calc($space-small*2);
		
		.time {
			float: left;
			width: calc(100%/5 - ($space-small/5*4));
			margin-left: $space-small;
			margin-bottom: $space-small;
			
			&:nth-child(5n+1) {
				margin-left: 0;
			}
			
			button {
				float: left;
				width: 100%;
				
				font-size: 12px;
				

				background: $color-grey-light;
				padding: 10px;
				text-align: center;
				
				cursor: pointer;
				
				&:hover {
					background: $color-main-light;
				}
				
				&.active {
					background: $color-main-dark;
				}
				
				&:active {
					background: $color-main-dark-active;
					color: $color-text;
				}
				
			}
		}
	}
	
	
	
	
	
}



/**
* Borrow / Lend
*/



#containerMain.page_borrow, #containerMain.page_lend {
	.contentContainer {
		padding: 0;
	}
	.header {
		float: left;
		width: 100%;
		background: $color-grey-light;
		padding: calc($space*2) calc(50% - (1200px/2));
		
		.img {
			position: absolute;
			left: calc(50% - (150px / 3 * 4) /2);
			width: calc(150px / 3 * 4);
			height: 150px;
			top: $space;
			margin-right: -20px;
			background-size: cover;
			background-position: center center;
			border: 0px solid white;
			
			.arrow {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.2);
				background-image: url(img/arrow-right-color.svg);
				background-size: 50px;
				background-repeat: no-repeat;
				background-position: center center;
				
				&:hover {
					background: none;
				}
			}
		}
		
		.lender, .borrower {
			float: left;
			width: calc(50% - 150px);
			.name {
				float: right;
				font-size: 20px;
				line-height: 100px;
				margin-right: $space;
			}
			.profilImage {
				float: right;
				position: relative;
				z-index: 2;
				border: 2px solid white;
			}
			
		}
		
		.borrower {
			float: right;
			.name {
				float: left;
				margin-left: $space;
			}
			.profilImage {
				float: left;
			}
		}
	}
	.conversationContainer {
		float: left;
		padding: calc($space/1) calc(50% - (1200px/2) + $space);
		position: relative;
		
		.timeline {
			position: absolute;
			width: 2px;
			left: calc(50% - 1px);
			top: 0;
			
			&.show {
				background: $color-grey-light;
			}
			
			.timelinePast {
				background: $color-grey-dark;
				width: 2px;
				position: relative;
				height: 0;
				
				transition: height 0.5s ease-in-out;
				
				.now {
					position: absolute;
					bottom: -8px;
					left: calc(50% - 8px);
					width: 16px;
					line-height: 16px;
					height: 16px;
					border-radius: 50%;
					background: $color-main-dark;
					text-align: center;
					color: white;
					font-size: 14px;
				}
			}
			
			
			
			
		}
		
		.messageItem {
			float: left;
			width: 100%;
			margin-top: $space;
			padding-right: $space;
			padding-left: $space;
			
		}
		
		.messageItem, .actionBox {
			.content, .closed {
				float: left;
				width: calc(50% - ($space * 2));
				position: relative;
				margin-bottom: $space;
				background: $color-grey-light;
				
				&::before {
					background-color: $color-main-dark;
				    content: "\00a0";
				    display: block;
				    height: 14px;
				    width:  14px;
				    position: absolute;
				    				    
				    top: 12px;
					right: -7px;
					transform: rotate( 225deg );
				}
				
				> .title {
					line-height: 40px;
					font-size: 16px;
					background: $color-main-dark;
					font-family: Roboto-Medium;
					padding: 0 calc($space-small*3);
					float: left;
					width: 100%;
				}
				.message, .text {
					font-family: Roboto-Italic;
					float: left; 
					width: 100%;
					padding: calc($space-small*3);
					padding: calc($space);
					
				}
				.message {
					font-family: Roboto-Regular;
					
				}
				.suggestions {
					float: left;
					width: 100%;
					background: $color-grey-dark-bg;
					font-size: 14px;
					padding: calc($space-small*3);
					padding: calc($space);
					
					.get {
						float: left;
						width: 100%;
						.title {
							background-image: url(img/icon-arrow-get.svg);
						}
					}
					.back {
						float: right; 
						width: 100%;
						margin-top: $space;
						.title {
							background-image: url(img/icon-arrow-back.svg);
						}
					}
					.title {
						font-family: RobotoSlab-Bold;
						
						background-size: 14px;
						background-repeat: no-repeat;
						background-position: left center;
						padding-left: 20px;
					
					}
					.day {
						float: left;
						width: calc(100% / 4);
						margin-top: 10px;
						color: $color-text;
						.datum {
							font-family: Roboto-Medium;
						}
						.time {
							margin-top: 3px;
						}
					}
					
					&.max_day-1,
					&.max_day-2 {
						.get, .back {
							width: 50%;
							margin-top: 0;
							.day {
								width: calc(100% / 2);
							}
						}
					}
					
				}
				.dates {
					float: left;
					width: 100%;
					padding: calc($space-small*3);
					background: $color-grey-dark-bg;
					font-size: 14px;
					text-align: center;
					
					b {
						font-size: 18px;
						margin: 0 10px;
					}
				}
				.date {
					position: absolute;
					bottom: -18px;
					right: 0;
					left: auto;
					font-size: 12px;
					color: $color-grey-dark-text;
					text-align: right;
					
				}
			}
			
			
			
			&.both {
				.content {
					margin-left: calc(50% - (45%/2));
					
					&::before {
					    top: -7px;
						left: calc(50% - 9px);
						transform: rotate( 135deg );
					}
					
					.title {
						text-align: center;
					}
					
					&.get {
						.title,
						&:before {
							background-color: $color-special-get-light;
						}
					}
					
					&.back {
						.title,
						&:before {
							background-color: $color-special-back-light;
						}
					}
				}
			}
			
		}
		
		.messageItem.right .content, .actionBox .closed.right {

				
			float: right;
			
			&::before {
			    top: 12px;
				left: -7px;
				transform: rotate( 45deg );
			}
			
			.date {
				text-align: left;
				left: 0px;
			}
		}
			
		.actionBox { 
			.content {
				&::before {
					display: none;
				}
			}
			
			.closed {
				.title {
					background: $color-special-red;
					color: white;
				}
				&::before {
			    	background: $color-special-red;
				}
				
				&.type-successful {
					.title,
					&::before {
						background: $color-main-dark;
					}
					
					.title {
						color: black;
					}
				}
			}
			
		}
		
		
		.actionBox {
			float: left;
			width: 100%;
			padding: $space;
			
			
			.content {
				float: right;
				background: $color-grey-light;
				padding: calc($space-small*3);
				padding: $space;
				border: 5px solid $color-grey-dark;
				
				h3 {
					margin-top: 0;
					margin-bottom: $space;
				}
				p {
					color: $color-text;
				}
				a {
					float: right;
				}
				a:first-of-type {
					float: left;
				}
				
			}
		}
	}
}

#containerMain.page_lend {
	.header {
		
		.img {
			.arrow {
				background-image: url(img/arrow-left-color.svg);
			}
		}
		
		.lender {
			float: right;
			.name {
				
			}
			.name, .profilImage {
				float: left;
				margin-right: $space;
			}
			.img {
				float: left;
				margin-right: 0;
				margin-left: -20px;
			}
		}
		.borrower {
			float: left;
			.name {
				float: right;
				margin-right: 0;
			}
			.profilImage {
				float: right;
				margin-left: $space;
			}
		}
	}
}

/* lend/borrow modals */
.modalBody.lendCheckData {
	position: relative;

	form {
		float: left;
	
		.buttonRow {
			float: left;
			width: 100%;
			text-align: center;
			a {
				margin: 5px;
				border: none;
				background: $color-special-back-light;
				&:hover {
					background: $color-special-back;
				}
				&:first-of-type {
					background: $color-special-get-light;
					
					&:hover {
						background: $color-special-get;
					}
				}
				
				&.noMatching {
					text-decoration: line-through;
				}
			}
			
			margin-bottom: $space;
		}
		
		.buttonContainer {
			float: left;
			
			p {
				margin-bottom: $space;
			}
			a {
				float: right;
				&:first-of-type {
					float: left;
				}
			}
		}
	}
	

	
}
/*
.modal-content {
	.boxGet, .boxBack {
		position: absolute;
		top: 240px;
		left: 40px;
		
		background: white;
		width: 300px;
		
		box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
		
		padding: calc($space/2);
		
		&::before {
			background-color: white;
		    content: "\00a0";
		    display: block;
		    height: 16px;
		    width:  16px;
		    position: absolute;
		    top: -9px;
			left: calc(50% - 8px);
		    transform: rotate( 45deg );
		    box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.05);
		    border: 1px solid $color-grey-dark;
		    border-right: none;
		    border-bottom: none;
		}
		
		.date {
			float: left;
			width: 100%;
			font-family: Roboto-Medium;
			font-size: 14px;
			margin-bottom: 15px;
		}
		
		.times {
			float: left;
			margin-bottom: 15px;
			width: 100%;
			 
			.time {
				float: left;
				width: calc((100%/6) - (5px/6*5));
				margin-left: 5px;
				margin-bottom: 5px;
		
				
				&:nth-child(6n+1) {
					margin-left: 0;
				}
				
				button {
					width: 100%;
					font-size: 12px;
					font-family: Roboto-Regular;
					height: 30px;
					border: 1px solid green;
					background: white;
					
					&:hover {
						border-color: blue;
					}
					
					&.active {
						border-color: red;
					}
				}
			}
		}
		
		.none {
			float: left;
			width: 100%;
			
			button {
				font-size: 12px;
				width: 100%;
				height: 30px;
				border: 1px solid red;
				background: white;
				
				&:hover {
					border-color: blue;
				}
				
				&.active {
					border-color: green;
				}
			}
		}
	}
	
	.boxBack {
		right: 40px;
		left: auto;
	}
	
	
}
*/
.modal-content {
	.confirmData {
		background: $color-grey-light;
		float: left;
		width: 100%;
		padding: $space;
		text-align: center;
		font-family: Roboto-Medium;
		font-size: 18px;
		margin-bottom: $space;
	}
}

/**
* LandingPage
*/
#contextBoxWrap.login {
	padding: $space;
	
	form {
		width: 100%;
		float: left;
		
		.message {
			color: $color-special-red;
			font-size: 14px;	
			margin-bottom: 10px;
		}
		
		input {
			width: 100%;
			margin-bottom: calc($space-small*3);
		}
		
		button {
			float: right;
		}
	}
}

.landingPageWrap {
	header.landingPage {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		background: white;
		
		z-index: $zIndex-topbar;
		
		.content {
			float: left;
			width: 1200px;
			padding: $space calc($space*2);
			padding-right: calc(300px - ($space*2));
			padding-top: 20px;
			margin: 0 calc(50% - (1200px/2));
			position: relative;
			
			background: white;
			
			img.logo {
				display: block;
				width: 80px;
				margin-bottom: 20px;
			}
			
			h1 {
				margin-bottom: 10px;
			}
			h2 {
				font-family: Roboto-Light;
				font-size: 23px;
				margin-bottom: 0;
			}
			
			.buttons {
				position: absolute;
				bottom: $space;
				right: calc($space*2);
			}
			
			
		}
	}
	
	section.headerBG {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-size: cover;
		background-position: center top;
		z-index: 0;
	}
	
	section.main {
		position: relative;
		z-index: 2;
		background: white;
		margin-top: 90vh;
		float: left;
		width: 100%;
		
		margin-bottom: 500px;
		
		.titleAdd {
			font-family: Roboto-Light;
			font-size: 24px;
			color: $color-grey-light-text;
			margin-bottom: 16px;
			
			padding-top: calc($space);
			border-top: 1px solid $color-main-dark;
		}
		h2 {
			font-family: RobotoSlab-Bold;
			font-size: 39px;
			line-height: 46px;
			color: $color-text;
			margin-bottom: 30px;
		}
		p {
			font-family: Roboto-Light;
			font-size: 20px;
			color: $color-text;
			line-height: 31px;
			
			b {
				font-family: Roboto-Regular;
				font-weight: normal;
			}
			i {
				font-family: Roboto-Italic;
				font-style: normal;
			}
		}
		
		.rowDescription, .rowInspiration, .rowPostit, .rowSettlements, .rowUse, .exist, .notYet {
			float: left;
			margin-left: calc(50% - (1200px/2));
			padding: calc($space*2);
			width: 625px;
			background: white;
			margin-bottom: 10px;
			
			.btContainer {
				margin-top: 50px;
				margin-right: $space;
			}
		}
		
		.rowDescription {
			margin-top: calc(-$space*3);
			
			.titleAdd {
				border: none;
				padding: 0;
			}
		}
		
		.rowInspiration, .rowPostit, .rowSettlements {
			padding-bottom: 0;
		}
		.rowPostit, .rowSettlements {
			padding-bottom: $space;
		}
		
		.rowUse {
			width: 1200px;
			background: white;
			margin-bottom: -125px;
			padding-bottom: calc($space*3);
			
			.exist, .notYet {
				width: calc(50% - $space);
				margin:0;
				padding:0;
			}
			.exist {
				margin-right: calc($space*2);
				
				.btContainer {
					float: left;
					a {
						float: left;
						margin-right: $space;
						margin-top:$space-small;
					}
				}
			}
			
		}
		
		
		
		.rowInspirationImages, .rowPostitStatements, .rowSettlementImages {
			float: left;
			width: 1440px;
			clear: both;
			margin-left: calc(50vw - (1440px/2));
			
			margin-bottom: calc((2*$space) + 10px);
			
			.imageWrap {
				float: left;
				
				position: relative;
				background: $color-grey-light;
				
				.height {
					float: left;
					width: 1px;
					padding-top: $image-ratio;
				}
					
				.img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-size: cover;
					background-position: center center;
				}
			}
			
		}
		
		.rowInspirationImages {
			.imageWrap {
				width: calc(100%/4 - 2px);
				margin: 1px;
				
				width: calc((100%/4) - ($space-small / 4*3));
				margin: 0;
				margin-left: $space-small;
				margin-bottom: $space-small;
				
				&:nth-child(4n+1) {
					margin-left: 0;
				}
			}
		}
		
		.rowPostitStatements, .rowSettlementImages {
			.statement, .settlement {
				float: left;
				width: calc(100%/3 - 2px);
				margin: 1px;
				
				margin: 0;
				width: calc(100%/3);
				
				width: calc((100%/3) - ($space-small / 3*2));
				margin: 0;
				margin-left: $space-small;
				
				&:nth-child(3n+1) {
					margin-left: 0;
				}
				
				
				.imageWrap {
					width: 100%;
				}
				
				.text {
					float: left;
					
					margin-top: calc(-$space*1 - 50px);
					width: calc(100% - ($space*4));
					margin-left: calc($space*2);
					padding: 10px 15px;
					min-height: 50px;
					position: relative;
					z-index: 1;
					
					
					
				}
			}
		}
		
		.rowPostitStatements {
			.statement .text {
				background: $color-main-dark;
				font-family: Roboto-Italic;
				font-size: 16px;
				color: $color-text;
				line-height: 22px;
			}
		}
		
		.rowSettlementImages {
			.settlement .text {
				background: $color-main-dark;
				text-align: center;
				font-family: Roboto-Medium;
				font-size: 18px;
				color: $color-text;
				line-height: 25px;
				height: 51px;
				padding-top: 13px;
				white-space: nowrap;
				
				font-family: RobotoSlab-Bold;
			}
			
			.btContainer {
				float: left;
				margin-left: calc(50% - (1200px/2) + (2*$space));
				margin-top: calc(2*$space);
			}
		}
		
	
		
	}
	
	footer {
		height: 100vh;
		
		.content {
			position: absolute;
			bottom: 0;
			margin-left: calc(50% - (1200px/2));
			padding-bottom: calc($space*4);
		}
		
	}
}
