
* {
	margin: 0;
	padding: 0;
	list-style: none;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border: none;
	text-decoration: none;
}

body {  
    background-color: #f2f2f2;
    font-family: Arial;
}

header,nav,section,article,aside,footer,hgroup { display: block; }
.clear { clear: both; }

/**
* layout
*/

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: white;
	z-index: 10;
	
	nav {
		float: left;
		margin-left: 10px;
	}
	
	a.profil {
		float: right;
		margin-right: 10px;
	}
	#bt_logout {
		float: right;
		color: #333;
		background: white;
		font-size: 12px;
		padding: 4px;
		border: 1px solid #333;
		margin-right: 10px;
	}
}



#containerMain {
	position: absolute;
	width: 1200px;
	left: calc(50vw - 600px);
	top: 80px;
	background: #ffffff;
	z-index: 0;
}
#containerLandingPage {
	float: left;
	margin: 20px;
	
}
#containerProfil {
	border: 1px solid black;
}


/**
* Form	
*/
img.thumb {
	width: 50px;
}
button {
	cursor: pointer;
}


/**
* containerLandingPage
*/
#containerLandingPage form input {
	font-size: 14px;
	border: 1px solid #ccc;
	padding: 4px;
}
#containerLandingPage form button {
	font-size: 14px;
	background: #333;
	color: white;
	padding: 4px;
}