$space: 25px;
$space-small: 5px;

/**
* RESPONSIVE DESIGN
*/
@media all and (max-width: 1439px) {
	
	/* landing-page */
	.landingPageWrap section.main {
		.rowInspirationImages, .rowPostitStatements, .rowSettlementImages {
			width: 100%;
			margin-left: 0;
		}
	}
	
	/* site */
	header.site {
 /*		background: green;*/

		nav {
			margin-left: calc($space*1);
		}
		a.profil {
			margin-right: calc($space*1);
		}
	}
	
	
	#containerMain {
		.contentContainer {
			padding: calc($space*1) calc($space*1);
		}
			
		.objectContentWrapper {
			
			.previewRow {
				h2, .buttons {
					padding-left: calc(50% - 650px + ($space*4));
				}
			}
		}
	}
	
	.page_object {
		#btEditObject {
			right: $space;
		}
		
		.objectInfo {
			width: calc(45% - $space);
		}
		
		.requestInfo {
			width: calc(55% - $space);
		}
	}
	
}

@media all and (max-width: 1200px) {
	
	/* landing-page */
	.landingPageWrap {
		header.landingPage .content {
// 			background: green;
			width: 100%;
			margin: 0;
		}
		
		
		section.main {
			.rowSettlementImages .btContainer {
				margin-left: calc(2*$space);
			}
			.rowDescription, .rowInspiration, .rowPostit, .rowSettlements {
				margin-left: 0;
			}
			.rowUse {
				margin-left: 0;
				width: 100%;
				margin-bottom: 0;
			}
			.rowPostitStatements .statement, .rowSettlementImages .settlement  {
				.text {
					margin-left: calc($space*1);
					width: calc(100% - ($space*2));
				}
			}
			.rowPostitStatements {
				.statement .text {
					font-size: 14px;
					line-height: 19px;
				}
			}
		}
		
		footer .content {
			margin-left: 0;
			width: 100%;
		}
	}
	
	/* site */
	header.site {
/*		background: yellow;*/
	}
	
	#contextBoxWrap.category {
		width: calc(100% - ($space*4));
		margin-left: calc(((100% - ($space*4)) * -1) + ($space/2));
		
		&.filtered {
			margin-left: calc(((100% - ($space*4)) * -1) + ($space/2) + 60px);
		}
	}
	
	#containerMain {
		.objectContentWrapper {
			.topContainer {
				padding-left: calc($space*2);
				padding-right: calc($space*2);
			}
			
			.topBar {
				margin-left: calc($space*2);
				margin-right: calc($space*2);
			}
			
			.previewRow {
				h2, .buttons {
					padding-left: calc($space*2);
				}
			}
		}
	}
	
	.page_object {
		.objectInfo {
			width: calc(100% - ($space*2) - 345px);
		}
		
		.requestInfo {
			width: 345px;
			
			.containerContact {
				width: 100%;
				margin-right: 0;
			}
		}
	}
	
	footer .content {
		margin: 0;
		width: 100%;
		padding-left: calc($space*2);
		padding-right: calc($space*2);
	}
	

}

@media all and (max-width: 1023px) {
	/* landing-page */
	.landingPageWrap {
		header.landingPage .content {
/*			background: red;*/
		}
		
		section.main {
			.rowInspirationImages {
				.imageWrap {
					width: calc((100%/2) - ($space-small / 2*1));
					margin: 0;
					margin-left: $space-small;
					margin-bottom: $space-small;
					
					&:nth-child(2n+1) {
						margin-left: 0;
					}
				}
			}
			
			.rowSettlementImages {
				.settlement .text {
					font-size: 14px;
				}
			}
			
			.rowUse {
				margin-left: 0;
				width: 625px;
				
				.exist, .notYet {
					width: 100%;
					
				}
				.notYet {
					margin-top: calc($space*3);
					
				}
			}
		}
	}	
	
	/* footer */
	footer .content {
		.top, .bottom {
			width: 100%;
		}
	}
	
	/* site */
	header.site {
/*		background: red;*/
	}
	
	.itemObject {
		width: calc((100% / 3) - ($space-small / 3*2));
		
		&:nth-child(4n+1) {
			margin-left: $space-small;
		}
		
		&:nth-child(3n+1) {
			margin-left: 0;
		}
	}
	
	
	
	nav.sub {
		display: none;
	}
	#containerProfil,
	.page_profil-base #containerProfil {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		
		.objectContainer {
			width: calc(100% + ($space*2));
			margin-left: calc($space * -1);
		}
	}
}

@media all and (max-width: 769px) {

	/* site */
	header.site {
/*		background: yellow;*/

		nav {
			margin-left: calc($space*1);
		}
		a.profil {
			margin-right: calc($space*1);
			padding-left: 0;
			.name {
				display: none;
			}
		}
	}

	#contextBoxWrap.category {
		width: calc(100% - ($space*2));
		margin-left: calc(((100% - ($space*2)) * -1) + ($space/2));
		
		&.filtered {
			margin-left: calc(((100% - ($space*2)) * -1) + ($space/2) + 60px);
		}
		
		$count: 3;
		.itemCategory {
			width: calc((100% / $count) - ($space-small/$count*($count - 1)));
			
			&:nth-child(5n+1) {
				margin-left: $space-small;
			}
						
			&:nth-child(3n+1) {
				margin-left: 0;
			}
		}
	}
	
	#containerMain {
		.objectContentWrapper {
			
			.topContainer {
				padding-left: calc($space*1);
				padding-right: calc($space*1);
		
			}
			
			.topBar {
				margin-left: calc($space*1);
				margin-right: calc($space*1);
			}
	
			/*
			.contentContainer {
				padding: calc($space*1) calc($space*1);
			}
			*/
			.previewRow {
				h2, .buttons {
					padding-left: calc($space*1);
				}
			}
		}
		
		
	}
	
	.itemObject {
		width: calc((100% / 2) - ($space-small / 2*1));
		
		&:nth-child(3n+1) {
			margin-left: $space-small;
		}
		
		&:nth-child(2n+1) {
			margin-left: 0;
		}
	}
	
	.page_object {
		.objectInfo {
			width: 100%;
		}
		
		.requestInfo {
			width: 100%;
			margin-left: 0;
			margin-top: calc($space*2);
			
			.containerContact {
				width: calc(100% - 345px - $space);
				margin-right: $space;
			}
		}
	}
	
	.page_profil-base #containerProfil .contact .group {
		.person1,
		.person2 {
			width: 100%;
		}
		.person2 {
			margin-top: $space-small;
		}
	}
}


/**  
* smartphone screens
* - $space-small/2
*/
@media all and (max-width: 624px) {
	/* text */
	h1 {
		font-size: 33px;
		line-height: 41px;
	}
	/* buttons */
	a.bt_light, a.bt_dark {
		padding: 0 calc($space/2);
	}
	
	/* landing-page */
	.landingPageWrap {
		header.landingPage .content {
// 			background: yellow;
			padding: $space;
			
			img.logo {
				width: 82px;
				margin-bottom: 15px;
				margin-top: -5px;
			}
			
			h2 {
				font-size: 21px;
				line-height: 28px;
			}
			
			.buttons {
				top: $space;
				right: $space;
				
				a.bt_dark {
					font-size: 12px;
					padding: 0 calc($space/2);
					padding-right: calc(($space/2) + 10px + 10px);
					height: 29px;
					line-height: 30px;
				}
			}
		}
		section.headerBG {
			background-position: center top;
			background-size: 370%;
		}
		section.main {
			margin-top: 107vh;
			margin-bottom: 350px;
			
			.titleAdd {
				font-size: 18px;
				line-height: 25px;
				
				margin-bottom: 10px;				
				padding-top: calc($space);

			}
			h2 {
				font-size: 30px;
				line-height: 37px;
				margin-bottom: 20px;
			}
			p {
				font-size: 18px;
				line-height: 26px;
			}
		
			.rowDescription, .rowInspiration, .rowPostit, .rowSettlements, .rowUse, .exist, .notYet {
				width: 100%;
				padding: $space;
				margin-bottom: 0;
			}
			
			.rowInspirationImages {
				.imageWrap {
					width: calc((100%/2) - (($space-small/2) / 2*1));
					margin: 0;
					margin-left: calc($space-small/2);
					margin-bottom: calc($space-small/2);
					
					&:nth-child(2n+1) {
						margin-left: 0;
					}
				}
			}
			
			.rowUse .notYet {
				margin-bottom: calc($space);
			}
			
			.rowPostitStatements, .rowSettlementImages {
				.statement, .settlement {
					width: 100%;
					margin: 0;
					margin-bottom: calc($space*2);
					
					
					&:nth-child(3) {
						margin-bottom: 0;
					}
				}
			}
			
			.rowPostitStatements {
				.statement .text {
					font-size: 16px;
					line-height: 22px;
				}
			}
			
			.rowSettlementImages {
				.settlement .text {
					font-size: 18px;
				}
				
				.btContainer {
					float: left;
					margin-left: $space;
				}
			}
		}
		
	}
	
	/* site */
	header.site {
/*		background: orange; */
		height: 50px;
		
		.containerLogo {
			left: $space;
			text-align: left;
			line-height: 49px;
			
			img {
				width: 63px;
			}
		}
	}
	
	#contextBoxWrap.category.filtered {
		&::before {
			display: none;
		}
		position: fixed;
		width: 100vw;
		height: 100vh;
		overflow: scroll;
		top: 0;
		left: 0;
		margin: 0;
		padding-top: 60px;
		
		> a {
			top: calc($space + 40px);
		}	
		
		
		$count: 2;
		.itemCategory {
			width: calc((100% / $count) - ($space-small/$count*($count - 1)));
			
			&:nth-child(3n+1) {
				margin-left: $space-small;
			}
						
			&:nth-child(2n+1) {
				margin-left: 0;
			}
		}
		
		.header {
			display: block;
		}
	}
	

	
	#containerMain {
		top: 50px;
		
		.objectContentWrapper {
			.topContainer {
				height: 300px;
				min-height: 300px;
				padding-top: calc($space*2);
				
				&.filtered {
					
					.searchContainer {
						.buttons {
							a.category {
								display: block;
							}
						}
					}
				}
				
				.searchContainer {
					.buttons {
						width: 115px;
						
						a.category {
							display: none;
						}
						a {
							top: 10px;
							margin-right: 10px;
						}
					}
				
				}
			}
		}
	}
	
	.page_object {
		#btEditObject {
			right: calc($space-small*4);
		}
		.requestInfo {			
			.containerContact {
				width: 100%;
				margin-right: 0;
			}
			.containerRequest {
				width: 100%;
			}
		}
	}
	
	.itemObject {
		width: calc((100% / 2) - (($space-small/2) / 2*1));
		margin-left: calc($space-small/2);
		margin-bottom: calc($space-small/2);
		
		&:nth-child(3n+1) {
			margin-left: calc($space-small/2);
		}
		
		&:nth-child(2n+1) {
			margin-left: 0;
		}
		
		.info {
			.profilImage {
				width: 40px;
				height: 40px;
				margin-top: -1px;
				margin-left: -5px;
				margin-right: 5px;
				
				.objectName, .accountName {
					line-height: 16px;
				}
			}
		}
	}
	
	#containerProfil,
	.page_profil-base #containerProfil {
		.profilImage {
			margin-bottom: $space
		}
		.contact {
			width: 100%;
			.group {
				.person1,
				.person2 {
					width: 50%;
				}
				.person2 {
					margin-top: 0;
				}
			}
		}
		.description {
			padding-left: 0;
		}
	}
		

	
	footer .content {
		padding-left: calc($space*1);
		padding-right: calc($space*1);
	}
	
	
	/* modal */
	.modal-dialog {
		width: 100%;
		margin: 0;
		height: 100vh;
		
		.modal-content {
			height: 100vh;
			.modalBody {
				height: calc(100vh - 40px);
				max-height: none;
				
				.formRow {
					width: calc(100% - (2*25px));
					margin-left: calc(1*25px);
				}
				
				.formRowImage .picAdd {
					width: 90px;
					height: 90px;
					margin: 0 5px;
				}
			}
		}
	}
}

@media all and (max-width: 414px) {
	/* site */
	header.site {
/*		background: purple;*/

		.containerLogo {
			left: calc($space-small*2);
		}
	}
	
	#contextBoxWrap.category {
		width: calc(100% - ($space*4));
		margin-left: calc(((100% - ($space*4)) * -1) + ($space/2));
		margin-left: 0;
		width: 200px;
	}
	
	#containerMain {
		.objectContentWrapper {
		
			.topContainer {
				padding-left: calc($space-small*4);
				padding-right: calc($space-small*4);
				
				&.filtered {
					padding: calc($space-small*1);
					min-height: 70px;
					
					.searchContainer {
						input {
							padding-left: calc($space-small*2);
						}
						.buttons {
							a.category {
								display: block;
							}
						}
					}
				}
				
				.searchContainer {
					height: 60px;
					input {
						height: 40px;
						line-height: 40px;
						font-size: 20px;
						padding-left: calc($space-small*3);
					}
	
				
				}
				
				
			}
			
			.topBar {
				margin-left: calc($space-small*3);
				margin-right: calc($space-small*3);
				.text {
					font-size: 14px;
					height: 60px;
					line-height: 60px;
				}
				
				a.bt_light {
					top: 15px;
				}
			}
			
			
			
			.previewRow {
				h2, .buttons {
					padding-left: calc($space-small*4);
				}
			}
		
		}
		
		.contentContainer {
				padding-left: calc($space-small*4);
				padding-right: calc($space-small*4);
				
				
			}
	}
	
	.page_object {
		.objectInfo,
		.requestInfo .containerContact,
		.requestInfo .containerRequest {
			width: calc(100% + ($space-small*8));
			margin-left: calc($space-small*4 *-1);
			
			.title, .info, .content {
				padding-left: calc($space-small*4);
				padding-right: calc($space-small*4);
			}
		}
	}

	
	#containerProfil,
	.page_profil-base #containerProfil  {
		.objectContainer {
			width: calc(100% + ($space-small*8));
			margin-left: calc($space-small*4 *-1);
		}
	
		.contact {
			.group {
				.person1,
				.person2 {
					width: 100%;
				}
				.person2 {
					margin-top: $space-small;
				}
			}
		}
	}
	
	footer .content {
		padding-left: calc($space-small*4);
		padding-right: calc($space-small*4);
	}
}
