$space: 25px;
$space-small: 5px;

/**
* RESPONSIVE DESIGN
*/
@media all and (max-width: 1439px) {
	
	/* landing-page */
	.landingPageWrap section.main {
		.rowInspirationImages, .rowPostitStatements, .rowSettlementImages {
			width: 100%;
			margin-left: 0;
		}
	}
	
	/* site */
	header.site {
		/*background: green;*/

		nav {
			margin-left: calc($space*1);
		}
		a.profil {
			margin-right: calc($space*1);
		}
	}
	
	
	#containerMain {
		.topBar {
			padding-left: calc($space*1);
			padding-right: calc($space*1);
		}
		
		.contentContainer {
			padding-left: calc($space*1);
			padding-right: calc($space*1);
			padding-top: calc($space*1);
		}
			
		.objectContentWrapper {
			
			.previewRow {
				h2, .buttons {
					padding-left: calc(50% - 650px + ($space*4));
				}
			}
		}
	}
	
	.page_object {
		
		.objectInfo {
			width: calc(45% - $space);
		}
		
		.requestInfo {
			width: calc(55% - $space);
		}
	}
	
}

@media all and (max-width: 1200px) {
	footer {
		height: 350px;
		.bg {
			background-position-y: 50%;
		}
	}
	/* landing-page */
	.landingPageWrap {
		header.landingPage .content {
/* 			background: green;*/
			width: 100%;
			margin: 0;
		}
		
		
		section.main {
			.rowSettlementImages .btContainer {
				margin-left: calc(2*$space);
			}
			.rowDescription, .rowInspiration, .rowPostit, .rowSettlements {
				margin-left: 0;
			}
			.rowUse {
				margin-left: 0;
				width: 100%;
				margin-bottom: 0;
			}
			.rowPostitStatements .statement, .rowSettlementImages .settlement  {
				.text {
					margin-left: calc($space*1);
					width: calc(100% - ($space*2));
				}
			}
			.rowPostitStatements .statement {
				.text {
					margin-top: calc(-$space*2);
				}
			}
			.rowPostitStatements {
				.statement .text {
					font-size: 14px;
					line-height: 19px;
				}
			}
		}
		
		footer {
			.content {
				margin-left: 0;
				width: 100%;
			}
		}
	}
	
	/* site */
	header.site {
/*		background: yellow;*/
	}
	
	#contextBoxWrap.category {
		width: calc(100% - ($space*4));
		margin-left: calc(((100% - ($space*4)) * -1) + ($space/2));
		
		&.filtered {
			margin-left: calc(((100% - ($space*4)) * -1) + ($space/2) + 65px);
		}
	}
	
	#containerMain {
		.objectContentWrapper {
			.topContainer {
				padding-left: calc($space*2);
				padding-right: calc($space*2);
			}
			
			.topBox {
				margin-left: calc($space*2);
				margin-right: calc($space*2);
			}
			
			.previewRow {
				h2, .buttons {
					padding-left: calc($space*2);
				}
			}
		}
	}
	
	.page_object {
		.objectInfo {
			width: calc(100% - ($space*2) - 345px);
		}
		
		.requestInfo {
			width: 345px;
			
			.containerContact {
				width: 100%;
				margin-right: 0;
			}
		}
	}
	
	footer .content {
		margin: 0;
		width: 100%;
		padding-left: calc($space*2);
		padding-right: calc($space*2);
	}
	
	#containerMain.page_borrow, #containerMain.page_lend { 
		.header {
			width: 100%;
			padding: $space;
			
			.firstPerson {
				.info {
					width: calc(100% - 100px);
					
					.name {
						width: 100%;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				
				&.showContact  {
					a.contact {
						max-width: 100%;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
						text-align: left;
					}
				
				}
				
			}
			
		}
		.conversationContainer { 
			width: 100%;
			padding: calc($space/1) $space;
			.messageItem, .actionBox {
				padding-right: 0;
				padding-left: 0;
				
			}
		
		}
	}
	
	.profilLendWrap, .profilBorrowWrap {
		.listContainer {
			.itemLend {
				.von, .bis {
					width: calc((100% - (250px * 1.25) - ($space-small*1)));
					height: 125px;
					min-height: 0;
					
					.title {
						margin-top: 0;
						margin-bottom: calc($space-small*2);
					}
					.date {
						margin-bottom:calc($space-small*1);
						
						&::after {
							content: ' - ';
						}
					}
					.date,
					.time {
						font-family: Roboto-Regular;
						font-size: 22px;
						float: none;
						display: inline;
					}
				
				}
				.closed {
					width: calc((100% - (250px * 1.25) - ($space-small*1)));
					min-height: 250px;
					.title {
						margin-top: 0;
					}
				}
				.von, .closed{
					padding-top: calc($space-small*8);
				}
				.bis {
					padding-top: calc($space-small*2);
				}
			}
		}
	}
}

@media all and (max-width: 1023px) {
	/* landing-page */
	.landingPageWrap {
		header.landingPage .content {
/*			background: red;*/
		}
		
		section.main {
			.rowInspirationImages {
				.imageWrap {
					width: calc((100%/2) - ($space-small / 2*1));
					margin: 0;
					margin-left: $space-small;
					margin-bottom: $space-small;
					
					&:nth-child(2n+1) {
						margin-left: 0;
					}
				}
			}
			
			.rowSettlementImages {
				.settlement .text {
					font-size: 14px;
					line-height: 39px;
					min-height: 0;
					height: 40px;
					padding-top: 0;
					
					margin-top: calc(-$space*1 - 40px);
				}
			}
			
			.rowUse {
				margin-left: 0;
				width: 625px;
				
				.exist, .notYet {
					width: 100%;
					
				}
				.notYet {
					margin-top: calc($space*3);
					
				}
			}
		}
	}	
	
	/* footer */
	footer .content {
		.top, .bottom {
			width: 100%;
		}
	}
	
	/* site */
	header.site {
/*		background: red;*/
	}
	
	.itemObject {
		width: calc((100% / 3) - ($space-small / 3*2));
		
		&:nth-child(4n+1) {
			margin-left: $space-small;
		}
		
		&:nth-child(3n+1) {
			margin-left: 0;
		}
	}
	
	
	
	nav.sub {
		display: none;
	}
	#containerProfil {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		
		.objectContainer {
			width: calc(100% + ($space*2));
			margin-left: calc($space * -1);
		}
	}
	
	#containerMain.page_borrow, #containerMain.page_lend { 
		.header {
			.arrowBG {
				width: 240px;
				left: calc(50% - (240px / 2));
				top: 45px;
			}
			.profilImage {
				width: 60px;
				height: 60px;
				margin-bottom:5px;
			}
			.firstPerson {
				.info {
					padding: 0;
					line-height: 22px;
					width: 100%;
					
					.name {
						margin-top: 5px;
						width: 100%;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				&.showContact .info {
					padding: 0;
					width: 100%;
				}
			}

			.firstPerson, .secondPerson {
				width: calc(50% - (190px / 2) - ($space));
			}
		}

		.conversationContainer { 
			.timeline {
				display: none;
			}
			
			
			.messageItem, .actionBox {
				.content, .closed {
					width: calc(75%);
					
					
					.profilImage {
						display: block;
						position: absolute;
						top: 0;
						
						width: 40px;
						height: 40px;
					}
					
				}
				
				&.right .content,
				.closed.right {
					&::before {
						right: -7px;
						left: auto;
					}
					margin-right: 60px; 
					
					.profilImage {
						right: -60px;
					}
					
					.date {
						right: 2px;
						left: auto;
					}
				}
				
				&.left .content {
					&::before {
						left: -7px;
						right: auto;
					}
					
					margin-left: 60px; 
					
					.profilImage {
						left: -60px;
					}
					
					.date {
						left: 2px;
						right: auto;
					}
				}
				
				&.both {
					.content {
						width: calc(100% + ($space*2));
						margin-left: -$space;
						
						&::before {
							display: none;
						}
					}
				}
				
				.actionContent {
					width: 500px;
					
					&::before {
						right: -9px;
						top: 14px;
						left: auto;
					}
					margin-right: 65px; 
					
					.profilImage {
						right: -65px;
						
					}
				}
				
			}
			
		
		}
	}
	
	.profilLendWrap, .profilBorrowWrap {
		.listContainer {
			.itemLend {
				.von, .bis {
					width: calc((100% - (250px * 1.25) - ($space-small*2)) / 2);					height: 250px;
					
					.title {
						margin-top: calc($space-small*4);
						margin-bottom: calc($space-small*4);
					}
					.date {
						
						&::after {
							display: none;
						}
					}
					.date,
					.time {
						font-family: Roboto-Light;
						font-size: 40px;
						float: left;
						display: block;
					}
					.time {
						font-size: 30px;
					}
				
				}
				.closed {

					.title {
						margin-top: calc($space-small*4);
					}
				}
				.von, .closed{
					padding-top: calc($space-small*2);
				}
				.bis {
					padding-top: calc($space-small*2);
				}
			}
		}
	}
}


@media all and (max-width: 769px) {

	
	/* site */
	header.site {
/*		background: yellow;*/

		nav {
			margin-left: calc($space*1);
		}
		a.profil {
			margin-right: calc($space*1);
			padding-left: 0;
			.name {
				display: none;
			}
		}
	}

	#contextBoxWrap.category {
		width: calc(100% - ($space*2));
		margin-left: calc(((100% - ($space*2)) * -1) + ($space/2));
		
		&.filtered {
			margin-left: calc(((100% - ($space*2)) * -1) + ($space/2) + 65px);
		}
		
		$count: 3;
		.itemCategory {
			width: calc((100% / $count) - ($space-small/$count*($count - 1)));
			
			&:nth-child(5n+1) {
				margin-left: $space-small;
			}
						
			&:nth-child(3n+1) {
				margin-left: 0;
			}
		}
	}
	
	#containerMain, 
	.profilObjectWrap {
		.itemObject {
			width: calc((100% / 2) - ($space-small / 2*1));
			
			&:nth-child(3n+1) {
				margin-left: $space-small;
			}
			
			&:nth-child(2n+1) {
				margin-left: 0;
			}
		}
	}
	
	
	#containerMain {
		h1 {
			font-size: 35px;
			line-height: 46px;
			margin-bottom: calc($space-small*4);
		}
		
		.topBar {
			
			.nav { 

				
				.labelNav {
					span.label {
						display: none;
					}
				}
			}
			
			
			a.back {
				span.short {
					display: block;
				}
				span.long {
					display: none;
				}
			}
		}
		
		.objectContentWrapper {
			
			.topContainer {
				padding-left: calc($space*1);
				padding-right: calc($space*1);
		
			}
			
			.topBox {
				margin-left: calc($space*1);
				margin-right: calc($space*1);
			}
	
	
			.previewRow {
				h2, .buttons {
					padding-left: calc($space*1);
				}
			}
		}
		
		
	}
	
	
	
	.page_object {
		.objectInfo {
			width: 100%;
		}
		
		.requestInfo {
			width: 100%;
			margin-left: 0;
			margin-top: calc($space*2);
			
			.containerContact {
				width: calc(100% - 345px - $space);
				margin-right: $space;
			}
		}
	}
	
	.profilBaseWrap .contact .group {
		.person1,
		.person2 {
			width: 100%;
		}
		.person2 {
			margin-top: $space-small;
		}
	}
	
	.profilLendWrap, .profilBorrowWrap {
		.listContainer {
			.itemLend {
				.von, .bis {
					width: calc((100% - (250px * 1.25) - ($space-small*1)));
					height: 125px;
					min-height: 0;
					
					.title {
						margin-top: 0;
						margin-bottom: calc($space-small*2);
					}
					.date {
						margin-bottom:calc($space-small*1);
						
						&::after {
							display: inline;
						}
					}
					.date,
					.time {
						font-family: Roboto-Regular;
						font-size: 22px;
						float: none;
						display: inline;
					}
				
				}
				.closed {
					width: calc((100% - (250px * 1.25) - ($space-small*1)));
					min-height: 250px;
					.title {
						margin-top: 0;
					}
				}
				.von, .closed{
					padding-top: calc($space-small*8);
				}
				.bis {
					padding-top: calc($space-small*2);
				}
				
				
			}
		}
	}
	
	#containerMain.page_borrow, #containerMain.page_lend { 
		.conversationContainer { 
			
			.actionBox {
				.actionContent {
					width: calc(100% - 100px - $space);
				}
			}
		}
	}
}


/**  
* smartphone screens
* - $space-small/2
*/
@media all and (max-width: 624px) {
	/* text */
	h1,
	#containerMain h1 {
		font-size: 30px;
		line-height: 37px;
	}
	h2,
	#containerMain h2 {
		font-size: 23px;
		line-height: 28px;
	}
	
	/* buttons */
	/*
	a.bt_light, a.bt_dark {
		padding: 0 calc($space/2);
	}
	*/
	
	span.mark {
		width: 15px;
		height: 15px;
	}
	
	/* landing-page */
	.landingPageWrap {
		header.landingPage .content {
// 			background: yellow;
			padding: $space;
			
			img.logo {
				width: 82px;
				margin-bottom: 15px;
				margin-top: -5px;
			}
			
			h2 {
				font-size: 21px;
				line-height: 28px;
			}
			
			.buttons {
				top: $space;
				right: $space;
				
				a.bt_dark {
					font-size: 12px;
					padding: 0 calc($space-small*2);
					padding-right: calc(($space-small*2) + 10px + 10px);
					height: 29px;
					line-height: 30px;
					
					background-position: calc(100% - ($space-small*2)) center;
				}
			}
		}
		section.headerBG {
			background-position: center top;
			background-size: 370%;
		}
		section.main {
			margin-top: 107vh;
			
			.titleAdd {
				font-size: 18px;
				line-height: 25px;
				
				margin-bottom: 10px;				
				padding-top: calc($space);

			}
			h2 {
				font-size: 30px;
				line-height: 37px;
				margin-bottom: 20px;
			}
			p {
				font-size: 18px;
				line-height: 26px;
			}
		
			.rowDescription, .rowInspiration, .rowPostit, .rowSettlements, .rowUse, .exist, .notYet {
				width: 100%;
				padding: $space;
				margin-bottom: 0;
			}
			
			.rowInspirationImages {
				.imageWrap {
					width: calc((100%/2) - (($space-small/2) / 2*1));
					margin: 0;
					margin-left: calc($space-small/2);
					margin-bottom: calc($space-small/2);
					
					&:nth-child(2n+1) {
						margin-left: 0;
					}
				}
			}
			
			.rowUse .notYet {
				margin-bottom: calc($space);
			}
			
			.rowPostitStatements, .rowSettlementImages {
				.statement, .settlement {
					width: 100%;
					margin: 0;
					margin-bottom: calc($space*2);
					
					
					&:nth-child(3) {
						margin-bottom: 0;
					}
				}
			}
			
			.rowPostitStatements {
				.statement .text {
					font-size: 16px;
					line-height: 22px;
				}
			}
			
			.rowSettlementImages {
				.settlement .text {
					font-size: 16px;
				}
				
				.btContainer {
					float: left;
					margin-left: $space;
				}
			}
		}
		
	}
	
	/* site */
	header.site {
/*		background: orange; */
		height: 50px;
		
		.containerLogo {
			left: calc($space-small*3);
			text-align: left;
			line-height: 49px;
			width: auto;
			img {
				width: 63px;
			}
		}
	}
	
	#contextBoxWrap.category.filtered {
		&::before {
			display: none;
		}
		position: fixed;
		width: 100vw;
		height: 100vh;
		overflow: scroll;
		top: 0;
		left: 0;
		margin: 0;
		padding-top: 60px;
		padding-bottom: 90px;
		
		> a {
			top: calc($space + 40px);
		}	
		
		
		.content {
			float: left;
			width: calc(100% + ($space*2));
			margin-left: -$space;
			margin-top: calc($space-small*2);
			
			h2 {
				margin-top: 4px;
			}
			
			$count: 2;
			.itemCategory {
				width: calc((100% / $count) - ($space-small/$count*($count - 1)));
				
				&:nth-child(3n+1) {
					margin-left: $space-small;
				}
							
				&:nth-child(2n+1) {
					margin-left: 0;
				}
				
				&:active {
					transform: none;
				}
			}
			
		}
		
		.header {
			display: block;
		}
	}
	
	
	
	#containerMain {
		padding-top: 50px;
		
		.topBar {
			height: 50px;
			padding: calc($space-small*2) calc($space-small*2);
			
			.nav { 
				margin-left: calc($space-small*2);
				a {
					margin-left: calc($space-small*2);
					span {
						display: none;
					}
				}
				
				.labelNav {
					span.label {
						display: none;
					}
				}
			}
			
			.edit {
				display: none;
			}
		}
		
		.contentContainer {
			min-height: calc(100vh - 50px);
		}
		
		.objectContentWrapper {
			.topContainer {
				height: 300px;
				min-height: 300px;
				padding-top: calc($space*2);
				
				
				&.filtered {
					height: 98px;
					min-height: 0;
				
					.searchContainer {
						input, .input {
							margin-top: 9px;
							display: block;
							font-size: 16px;
						}
						
						.input {
							display: none;
						}
						
						.buttons {
							a.category {
								display: block;
							}
						}
					}
				}

				.searchContainer {
					height: 48px;
					
					input, .input {
						height: 30px;
						line-height: 30px;
						font-size: 18px;
						/*padding-left: calc($space-small*3);*/
						display: none;
					}
					
					.input {
						display: block;
						line-height: 27px;
					}
					
					.buttons {
						width: 115px;
						
						a.category {
							display: none;
						}
						a {
							top: $space-small;
							margin-right: $space-small;
							padding: 0;
							width: 45px;
							height: 36px;
						}
					}
				
				}
			}
			
			.previewRow {
				margin-top: $space;
				
				h2 {
					margin-bottom: $space;
				}
				.buttons {
					margin-top: $space;
				}
			}
		}
	}
	
	
	body.scroll-header #containerMain .topBar,
	body.scroll-up #containerMain .topBar {
		transform: translateY(50px);
	}
	
	
	#containerMain.page_object .contentContainer.hasTopBar {
		padding-top: calc($space + 50px);
	}
	.page_object {
		
		
		.objectInfo { 
			
			.containerImage .footer {
				.profilImage {
				
					margin-left: 0;
					margin-right: calc($space-small*3);
				}
				.accountName,
				.address {
					width: calc(100% - 75px);
				}
			}
			
			.containerText {
				padding: $space;
				padding-bottom: 0;
				
				.textRow {
					.text {
						float: left;
						width: 100%;
					}
					.label {
						float: left;
						width: 100%;
						margin-right: 0;
						text-align: left;
					}
				}
			}
		}
		
		.requestInfo {			
			.containerContact {
				width: 100%;
				margin-right: 0;
			}
			.containerRequest {
				width: 100%;
			}
		}
	}
	
	body.touch-device #containerMain .itemObject {
		
		
		
		width: calc((100% / 2) - (($space-small/2) / 2*1));
		margin-left: calc($space-small/2);
		
		&:nth-child(3n+1) {
			margin-left: calc($space-small/2);
		}
		
		&:nth-child(2n+1) {
			margin-left: 0;
		}
			
		
		.info {

			
			.profilImage {
				width: 38px;
				height: 38px;
				margin: 0;
				margin-right: 5px;
				
				
				.objectName, .accountName {
					line-height: 16px;
				}
			}
		}
		
		
		
		
	}
	
	.profilBaseWrap {
		.profilImage {
			margin-bottom: $space
		}
		.contact {
			width: 100%;
			.group {
				.person1,
				.person2 {
					width: 50%;
				}
				.person2 {
					margin-top: 0;
				}
			}
		}
		.description {
			padding-left: 0;
		}
	}
		

	
	
	footer .content {
		padding-left: calc($space*1);
		padding-right: calc($space*1);
		.top .slogan,
		.bottom {
			font-size: 14px;
		}
	}
	
	
	/* modal */
	.modal-dialog {
		width: 100%;
		margin: 0;
		height: 100vh;
		
		.modal-content {
			height: 100vh;
			.modalBody {
				height: calc(100vh - 80px);
				max-height: none;
				
				.formRow {
					width: calc(100% - (2*25px));
					margin-left: calc(1*25px);
				}
				
				.formRowImage .picAdd {
					width: 90px;
					height: 90px;
					margin: 0 5px;
				}
			}
		}
	}
	
	
	#contextBoxWrap.timepicker {
		width: calc(100% - ($space * 4));
	}
	#contextBoxWrap.boxBack {
		margin-left: calc(100% - 300px - 25px);
		> .arrow {
			margin-left: -40px;
		}
	}
	
	.profilLendWrap, .profilBorrowWrap {
		.listContainer {
			width: calc(100% + ($space*2));
			margin-left: calc(($space*1) * -1);
			
			.itemLend {
				.what {
					width: calc(200px * 1.25);
				}
				.closed, .what {
					min-height: 200px;
				}
				.von, .bis {
					width: calc((100% - (200px * 1.25) - ($space-small*1)));
					height: 100px;
				}
				.closed {
					width: calc((100% - (200px * 1.25) - ($space-small*1)));
				}
				.von, .closed {
					padding-top: calc($space-small*6);
				}
				
				
			}
			
			h2.past {
				padding-left: $space;
			}
		}
	}

	#containerMain.page_borrow, #containerMain.page_lend { 
		.header {
			padding: calc($space-small * 4) calc($space-small * 2);
			padding-bottom: 0;
			margin-top: 50px;
			
			.arrowBG {
				width: 90px;
				left: calc(50% - (90px / 2));
				top: 30px;
			}
			
			.profilImage {
				width: 40px;
				height: 40px;
				margin-bottom: 0;
			}
			
			
			
			.img {
				top: calc($space-small * 4);
				height: 40px;
				width: calc(40px * 4 / 3);
				left: calc(50% - ((40px * 4 / 3)/2));
			}
			
			.firstPerson, .secondPerson {
				width: calc(50% - ((50px * 4 / 3)/2) - ($space-small * 2));
			}
			
			.firstPerson {
				&.showContact .info,
				.info {
					width: calc(100% - 40px - $space-small);
					padding-right: calc($space-small * 2);
				}
				
				.info {
					.name {
						margin: 0;
						font-size: 14px;
						font-family: Roboto-Medium;
						line-height: 40px;
					}
				}
			}
		}
		
		.conversationContainer {
			padding: calc($space-small * 2);
			padding-top: calc($space * 2);

			.messageItem {
				.content {
					width: calc(100% - 65px);
					
					> .title {
						line-height: 18px;
						font-size: 14px;
						
						padding: 10px calc($space-small*2);
					}
					.dates,
					.suggestions,
					.message,
					.text {
						padding: calc($space-small*2);
						font-size: 14px;
						line-height: 18px;
					}
					.dates {
						.get, .back {
							width: 100%;
						}
						.back {
							margin-top: calc($space-small*3);
						}
						.datum {
							font-size: 14px;
							margin-top: calc($space-small*1);
						}
					}
				}
				
				&.both {
					.content {
						width: calc(100% + ($space-small * 4));
						margin-left: calc($space-small * 2 * -1);
					}
				}
			}
			
			.actionBox .content .contentWrap {
				padding: calc($space-small *3);
				p {
					line-height: 18px;
					font-size: 14px;
				}
			}
		}
	}
	
	a.bt_light.small, button.bt_light.small, input.bt_light.small {
		border-width: 1px;
		line-height: 28px;
	}
}

@media all and (max-width: 530px) {
	.profilLendWrap, .profilBorrowWrap {
		.listContainer {
			.itemLend {
				.what {
					width: 100%;
					height: calc(100vw * 0.75);
					
					.info {
						bottom: calc($space-small*6);
					}
				}
				.closed {
					position: relative;
					width: 100%;
					margin: 0;
					height: auto;
					min-height: 0;
					padding-bottom: calc($space-small*6);
					margin-left: calc($space-small * 2);
					width: calc(100% - ($space-small*4));
					margin-top: calc($space-small * 6 * -1);
				}
				.von, .bis {
					position: relative;
					width: calc(100% - ($space-small*4));
					text-align: left;
					margin: 0;
					margin-left: calc($space-small * 2);
					
					margin-bottom: 0;
					padding-left: calc(($space-small * 4) + 10px);
					padding-top: calc($space-small * 2);
					
					height: auto;
					
					.date, .time {
						font-size: 14px;
						font-family: Roboto-Medium;
					}
					.date {
						margin-left: 30px;
					}
					
					.title {
						margin-bottom: 0;
						font-size: 14px;
						
						span {
							padding-left: 30px;
							padding-bottom: 2px;
						}
					}
					
					/*
					margin: 0;
					padding: calc($space-small*4) calc($space-small*2);
					height: auto;
					
					.title {
						font-size: 14px;
					}
					.date, .time {
						font-size: 18px;
						width: 100%;
						float: left;
						
						&::after {
							display: none;
						}
					}
					*/
				}
				.von {
					margin-top: calc($space-small * 6 * -1);
					padding-bottom: 0;
				}
				
				.bottomBar {
					text-align: left;
					padding-left: calc($space-small*2);
					padding-right: calc($space-small*2);
					margin-top: 0;
					
					a {
						width: 100%;
					}
				}
			}
		}
	}
	
	
	
}

@media all and (max-width: 414px) {
	/* site */
	header.site {
/*		background: purple;*/

		.containerLogo {
			left: calc($space-small*2);
		}
	}
	
	#contextBoxWrap.category {
		width: calc(100% - ($space*4));
		margin-left: calc(((100% - ($space*4)) * -1) + ($space/2));
		margin-left: 0;
		width: 200px;
	}
	
	#containerMain {
		.objectContentWrapper {
		
			.topContainer {
				padding-left: calc($space-small*4);
				padding-right: calc($space-small*4);
				
				&.filtered {
					padding: calc($space-small*2);
					height: 68px;
					
					.searchContainer {
						background-position: calc($space-small*2) center;
						background-size: 15px;
						
						input, .input {
							padding-left: calc($space-small*7);
							margin-top: 8px;
						}


					}
				}
				
		
			}
			
			.topBox {
				margin-left: calc($space-small*3);
				margin-right: calc($space-small*3);
				.text {
					font-size: 14px;
					height: 60px;
					line-height: 60px;
				}
				
				a.bt_light {
					top: 15px;
				}
			}
			
			
			
			.previewRow {
				h2, .buttons {
					padding-left: calc($space-small*4);
				}
			}
		
		}
		
		.contentContainer {
				padding-left: calc($space-small*4);
				padding-right: calc($space-small*4);
				
				
			}
	}
	
	.page_object {
		.objectInfo,
		.requestInfo .containerContact,
		.requestInfo .containerRequest {
			width: calc(100% + ($space-small*8));
			margin-left: calc($space-small*4 *-1);
			
			.title, .info, .content {
				padding-left: calc($space-small*4);
				padding-right: calc($space-small*4);
			}
		}
		
		.objectInfo { 
			

			
			.containerText {
				padding: calc($space-small*4);
				padding-bottom: 0;
				
				.textRow {
					.text {
						float: left;
						width: 100%;
					}
					.label {
						float: left;
						width: 100%;
						margin-right: 0;
						text-align: left;
					}
				}
			}
		}
	}

	
	#containerProfil,
	.profilBaseWrap   {
		
		.objectContainer {
			width: calc(100% + ($space-small*8));
			margin-left: calc($space-small*4 *-1);
		}
	
		.contact {
			.group {
				.person1,
				.person2 {
					width: 100%;
				}
				.person2 {
					margin-top: $space-small;
				}
			}
		}
	}
	
	footer .content {
		padding-left: calc($space-small*4);
		padding-right: calc($space-small*4);
	}
	
	
	#contextBoxWrap.timepicker {
		width: calc(100% - ($space-small * 9));
	}
	
	
	.profilLendWrap, .profilBorrowWrap {
		.listContainer {
			width: calc(100% + ($space-small*8));
			margin-left: calc(($space-small*4) * -1);
			
			/*
			.itemLend {
				.von, .bis {
					width: 100%;
					text-align: left;
					padding-left: calc($space-small*4);
					.title {
						font-size: 16px;
					}
					.date {
						margin-bottom:calc($space-small*1);
						
						&::after {
							content: ' - ';
						}
					}
					.date,
					.time {
						font-size: 22px;
						float: none;
						display: inline;
						
					}
					
				}
				.von {
					padding-bottom: 0;
				}
				
				.bottomBar {
					text-align: left;
				}
			}
			*/
		}
	}
	
	#containerMain.page_borrow, #containerMain.page_lend { 
		.header {
			.firstPerson.showContact .info a.contact {
				background-position-x: 50%;
				
				span {
					display: none;
				}
			}
		}
		
		
	}
	
	
}

@media all and (max-height: 700px) {
	.landingPageWrap section.main {
		margin-top: 640px;
	}
}

