<div class="modalHead">
	<a href class="close" ng-click="cancel()">schliessen (X)</a>
</div>

<form name="deleteObject" ng-submit="activation()">
	
    <div class="formRowImage">
	    <img ng-show="currentObject.image_1 != ''" ng-src="assets/img/object/{{ currentObject.image_1 }}" class="thumb"> 
    </div>
    
    <div class="formText">
	    Möchtest du den Gegenstand <span>{{ object.name }}</span> {{ currentObject.active ? 'deaktivieren' : 'wieder aktivieren' }}?		    
    </div>
    	
	<div class="buttonContainer">
		<input type="submit" class="bt_dark" type="submit" value="{{currentObject.name}} {{ currentObject.active ? 'deaktivieren' : 'aktivieren' }}">
	</div>
	
	
	
</form>
<div class="clear"></div>