<div class="modalHead">
	<a href class="bt_dark close" ng-click="cancel()"><span>schliessen</span></a>
</div>
<div class="modalBody">
	<form name="deleteObject" ng-submit="delete()">
		
	    <div class="formRowImage">
		    <img ng-show="currentObject.image_1 != ''" ng-src="assets/img/object/{{ currentObject.image_1 }}" class="thumb"> 
	    </div>
	    
	    <div class="formText">
		    <h3>Möchtest du den Gegenstand <span>«{{ currentObject.name }}»</span> wirklich löschen?</h3>
	    </div>
	    	
		<div class="buttonContainer">
			<input type="submit" class="bt_dark" type="submit" value="{{currentObject.name}} Löschen">
		</div>
		
		
		
	</form>
</div>
<div class="clear"></div>