<div class="modalHead">
	<a href class="close" ng-click="cancel()">schliessen</a>
</div>
<div class="modalBody">
	<form name="deleteObject" ng-submit="delete()">
		
	    <div class="formRowImage">
		    <img ng-show="currentObject.image_1 != ''" ng-src="assets/img/object/{{ currentObject.image_1 }}" class="thumb"> 
	    </div>
	    
	    <div class="formText">
		    Möchtest du den Gegenstand <span>{{ object.name }}</span> wirklich löschen?		    
	    </div>
	    	
		<div class="buttonContainer">
			<input type="submit" class="bt_dark" type="submit" value="{{currentObject.name}} Löschen">
		</div>
		
		
		
	</form>
</div>
<div class="clear"></div>