<div class="modalHead">
	<a href class="close" ng-click="cancel()">schliessen (X)</a>
</div>

<form name="editUser" ng-submit="editUser.$valid && save()">
   	<div ng-show="message != null" class="formMessage">{{ message }}</div>
   	
   	<div class="formRow">
	    <label>Benutzername</label>
		<input type="text" name="name" ng-model="user.name" ng-minlength="4" ng-change="checkUsername()" required>
		<div class="warning" ng-show="editUser.name.$error.required">*Pflichtfeld</div>
		<div class="warning" ng-show="editUser.name.$error.exists">Benutzername wird bereits verwendet</div>
    </div>
   	
    <div class="formRow">
	    <label>Passwort</label>
		<input type="password" name="passwordOld" ng-model="user.passwordOld" ng-minlength="3" required>
		<div class="warning" ng-show="editUser.passwordOld.$error.required">*Pflichtfeld</div>
    </div>
    
    <div class="formRow">
	    <label>Neues Passwort</label>
		<input type="password" name="passwordNew" ng-model="user.passwordNew" ng-minlength="3" ng-change="checkPasswords()">
		<div class="warning" ng-show="editUser.passwordNew.$error.required">*Pflichtfeld</div>
    </div>
    
    <div class="formRow">
	    <label>Passwort Wiederholen</label>
		<input type="password" name="passwordNewRepeat" ng-model="user.passwordNewRepeat" ng-minlength="3" ng-change="checkPasswords()">
		<i class="warning" ng-show="editUser.passwordNewRepeat.$error.same">Passwort nicht identisch</i>
    </div>
    	
	<div class="buttonContainer">
		<input type="submit" class="btPrimary" type="submit" value="Ändern">
	</div>
	
</form>
