<form name="editPassword" ng-submit="editPassword.$valid && save()">
   	<p>{{ message }}</p>
   	
    <div class="formRow">
	    <label>Altes Passwort</label>
		<input type="password" name="passwordOld" ng-model="user.passwordOld" ng-minlength="3" required>
		<i ng-show="editPassword.passwordOld.$error.required">*Pflichtfeld</i>
    </div>
    
    <div class="formRow">
	    <label>Neues Passwort</label>
		<input type="password" name="passwordNew" ng-model="user.passwordNew" ng-minlength="3" ng-change="checkPasswords()" required>
		<i ng-show="editPassword.passwordNew.$error.required">*Pflichtfeld</i>
    </div>
    
    <div class="formRow">
	    <label>Passwort Wiederholen</label>
		<input type="password" name="passwordNewRepeat" ng-model="user.passwordNewRepeat" ng-minlength="3" ng-change="checkPasswords()" required>
		<i ng-show="editPassword.passwordNewRepeat.$error.same">Passwort nicht identisch</i>
    </div>
    	
	<input type="button" class="btNormal" ng-click="cancel()" value="Abbrechen">
	<input type="submit" class="btPrimary" type="submit" value="Speichern">
	
	
</form>
