<div class="modalHead">
	<a href class="bt_dark close" ng-click="cancel()"><span>schliessen</span></a>
</div>
<div class="modalBody space">
	<form name="editUser" ng-submit="editUser.$valid && save()">
	   	<div ng-show="message != null" class="formMessage">{{ message }}</div>
	   	
	   	<div class="formRow" ng-class="{ error: editUser.name.$error.required || editUser.name.$error.exists }">
		    <label>Benutzername</label>
			<input type="text" name="name" ng-model="user.name" ng-change="checkUsername()" required autocomplete="off">
			<div class="warning" ng-show="editUser.name.$error.required || editUser.name.$error.exists">
				<span ng-show="editUser.name.$error.minlength">Benutzername muss mindestens drei Zeichen haben. </span>
				<span ng-show="editUser.name.$error.exists">Benutzername wird bereits verwendet. </span>
			</div>
	    </div>
	   	
	    <div class="formRow" ng-class="{ error: editUser.passwordOld.$error.required }">
		    <label>Passwort</label>
			<input type="password" name="passwordOld" ng-model="user.passwordOld" ng-minlength="3" required autocomplete="off">
			<div class="warning" ng-show="editUser.passwordOld.$error.required">*Pflichtfeld</div>
	    </div>
	    
	    <div class="formRow" ng-class="{ error: editUser.passwordNew.$error.required }">
		    <label>Neues Passwort</label>
			<input type="password" name="passwordNew" ng-model="user.passwordNew" ng-minlength="3" ng-change="checkPasswords()" autocomplete="off">
			<div class="warning" ng-show="editUser.passwordNew.$error.required">*Pflichtfeld</div>
	    </div>
	    
	    <div class="formRow" ng-class="{ error: editUser.passwordNewRepeat.$error.same }">
		    <label>Passwort Wiederholen</label>
			<input type="password" name="passwordNewRepeat" ng-model="user.passwordNewRepeat" ng-minlength="3" ng-change="checkPasswords()" autocomplete="off">
			<div class="warning" ng-show="editUser.passwordNewRepeat.$error.same">Passwort nicht identisch</div>
	    </div>
	    	
		<div class="buttonContainer">
			<input type="submit" class="bt_dark ok" type="submit" value="Ändern" ng-class="{inactive: !editUser.$valid}">
		</div>
		
	</form>
</div>
<div class="clear"></div>