<div class="modalHead">
	<a href class="close" ng-click="cancel()">schliessen (X)</a>
</div>

<form name="editPerson" ng-submit="editPerson.$valid && save()">
    
    <div class="formRow">
	    <label>Vorname</label>
		<input type="text" name="firstName" ng-model="person.firstName" ng-minlength="3" required>
		<div class="warning" ng-show="editPerson.firstName.$error.required">*required</div>
    </div>
    
    <div class="formRow">
	    <label>Nachname</label>
		<input type="text" name="lastName" ng-model="person.lastName" ng-minlength="3" required>
		<div class="warning" ng-show="editPerson.lastName.$error.required">*required</div>
    </div>
    
    <div class="formRow">
	    <label>eMail</label>
		<input type="text" name="mail" ng-model="person.mail" ng-minlength="3" required>
		<div class="warning" ng-show="editPerson.mail.$error.required">*required</div>
    </div>
	
	<div class="formRow">
		<label>Mobile Nummer</label>
		<input type="text" name="phone" ng-model="person.phone" ng-minlength="10" ng-maxlength="15" ng-pattern="/^\d+$/">
		<i ng-show="editPerson.phone.$error.pattern">nur Zahlen sind erlaubt</i>
		<i ng-show="editPerson.phone.$error.minlength">minestens 10 Zeichen sind nötig</i>
		<i ng-show="editPerson.phone.$error.maxlength">zuviele Zeichen in der Nummer</i>
	</div>
	
	
	<div class="buttonContainer">
		<input type="submit" class="btPrimary" type="submit" value="Ändern">
	</div>
	
</form>
