<div class="modalHead">
	<a href class="bt_dark close" ng-click="cancel()"><span>schliessen</span></a>
</div>

<div class="modalBody">

	<form name="lendClose" ng-submit="lendClose.$valid && send()">
		
		<div class="formText">
			<h3>{{ formInfo.titleText }}</h3>
		</div>
		
		<div ng-if="closeData.type == 'successful'">
		    <div class="formRow">
				<label><input type="checkbox" ng-model="closeData.objectBack" ng-true-value="'yes'" ng-false-value="'no'">Ich habe den Gegenstand (noch) <b>nicht</b> zurückerhalten, möchte aber trotzdem abschliessen.</label>
		    </div>
		</div>
		
		<div class="formRow">
			<label>Feedback an {{ formInfo.otherNeighbor.accountName }}</label>
			<textarea name="description" ng-model="closeData.feedback" placeholder="{{ formInfo.feedbackPlaceholder }}"></textarea>
		</div>
		
		
		<div class="buttonContainer">
			<input type="submit" class="bt_dark" type="submit" value="{{ formInfo.buttonText }}" ng-class="{inactive: !lendClose.$valid}">
		</div>
		
	</form>
</div>
<div class="clear"></div>