<div class="modalHead">
	<a href class="bt_dark close" ng-click="cancel()"><span>schliessen</span></a>
</div>

<div class="modalBody lendCheckData">

	<form name="lendAnswer" ng-submit="formInfo.validAnswer && answerRequest()">
		<div class="formText">
			<h3>Ist die Verleihung für dich möglich?</h3>
			<p>Wähle aus den Vorschlägen von {{ currentLend.neighborBorrow.accountName }} für das Abholen und die Rückgabe je einen passenden Termin.</p>
		</div>
		
		<div class="buttonRow">
			<a href class="bt_dark" ng-click="showBoxGet($event)" ng-class="{ 'noMatching': formInfo.noFindingGet }">Abholen am {{ checkData.getDatetime | amDateFormat:'DD.MM.YY - HH:mm' }}</a>
			<a href class="bt_dark" ng-click="showBoxBack($event)" ng-class="{ 'noMatching': formInfo.noFindingBack }">Rückgabe am {{ checkData.backDatetime | amDateFormat:'DD.MM.YY - HH:mm' }}</a>
		</div>
		
		<div class="formRow" ng-show="formInfo.dateStatus == 'yes'">
			<label>Mitteilung</label>
			<textarea name="description" ng-model="checkData.message" placeholder="Deine Mitteilung an {{ currentLend.neighborBorrow.accountName }}"></textarea>
		</div>
		
		<div class="buttonContainer" ng-show="formInfo.dateStatus == 'yes'">
			<input type="submit" class="bt_dark" type="submit" value="Anfrage akzeptieren">
		</div>
		
		<div class="buttonContainer" ng-show="formInfo.dateStatus == 'no'">
			<p>Die Vorschläge von {{ currentLend.neighborBorrow.accountName }} sind für dich nicht passend. Du hast jetzt die Möglichkeit, direkt Kontakt aufzunehmen, um andere Termine zu finden oder die Anfrage abzulehnen.</p>
			
			<a class="bt_dark" ng-click="directContact()">Direkter Kontakt</a>
			<a class="bt_light cancel" ng-click="openModalClose()">Anfrage ablehnen</a>
		</div>
		
	</form>
	
	
	
	
</div>
<div class="clear"></div>