<div class="modalHead">
	<a href class="bt_dark close" ng-click="cancel()"><span>schliessen</span></a>
</div>

<div class="modalBody">

	<form name="lendConfirm" ng-submit="lendConfirm.$valid && send()">
		
		<div class="formText">
			<h3>Bestätige die Termine für das Abholen und Zurückbringen</h3>
		</div>
		
		<div class="confirmData">
			
			{{ currentLend.getDatetime | amDateFormat:'dd, DD.MM.YY HH:mm' }} Uhr<br>bis<br>{{ currentLend.backDatetime | amDateFormat:'dd, DD.MM.YY HH:mm' }} Uhr
			
		</div>
				
		<div class="buttonContainer">
			<input type="submit" class="bt_dark" type="submit" value="Termine bestätigen" ng-class="{inactive: !lendConfirm.$valid}">
		</div>
		
	</form>
</div>
<div class="clear"></div>