public/api/config.inc.php
public/api/src/vendor/*
public/api/logs/*
public/css/*
public/js/*
public/api2/*
public/assets/*
node_modules/*
public/api/classes/Authentication.php
public/api/classes/NeighborEntity.php

public/api/classes/UserEntity.php

src-frontend/index-alt.scss

*.sql

src-frontend/index-alt2.scss

src-frontend/index Kopie.scss

public/api/classes/MailMapper.php
