<div id="contextBoxWrap" class="arrowTopRight boxBack">
	<div class="title">Einen Rückgabetermin wählen</div>
	
	<div class="content">
		<div class="day" ng-repeat="day in contextBox.currentLend.timeSuggestions.back">
			<div class="day-title">{{ day.date | amDateFormat:'dd, DD.MM.YY' }}</div>
			<div class="times">
				<div class="time" ng-repeat="time in day.times"><button ng-class="{'active': day.date == contextBox.formInfo.activeBack.date && time == contextBox.formInfo.activeBack.time }" ng-click="contextBox.selectTime('back', day.date, time)">{{ time }}</button></div>
			</div>
		</div>
		
		<a class="bt_light cancel small" ng-class="{'active': contextBox.formInfo.noFindingBack }" ng-click="contextBox.selectTime('back', 'none')">Kein passender Termin</a>
	</div>
</div>