<div id="contextBoxWrap" class="arrowTopRight profil menu">
	
	
	<a href ng-click="contextBox.hide(); contextBox.goPageProfil('profil.base');" ng-class="{current: state.is('profil.base')}">Dein Profil</a>
	<a href ng-click="contextBox.hide(); contextBox.goPageProfil('profil.objects');" ng-class="{current: state.is('profil.objects')}">Deine Gegenstände</a>
	<a href ng-click="contextBox.hide(); contextBox.goPageProfil('profil.lend');" ng-class="{current: state.is('profil.lend')}">An die Nachbarn verliehen<span ng-show="lends.mark > 0" class="mark inline"></span></a>
	<a href ng-click="contextBox.hide(); contextBox.goPageProfil('profil.borrow');" ng-class="{current: state.is('profil.borrow')}">Von den Nachbarn geliehen<span ng-show="borrows.mark > 0" class="mark inline"></span></a>
	<a href ng-click="contextBox.hide(); logoutUser()" ng-click="">Abmelden</a>

	
	
	
</div>