<p>authenticated-home: {{ authenticated }}</p>

<section id="landingPage">
	

	<section class="sign-up">
		<h2>Registrieren</h2>
		<input type="text" class="form-control" ng-model="signUpInfo.username" placeholder="Choose a Username">
		<input type="password" class="form-control" ng-model="signUpInfo.password" placeholder="Choose a password">
		<button ng-click="signUserUp()">Registrieren</button>
	</section>
	
	<section class="login">
		<h2>Anmelden</h2>
		<input type="text" class="form-control" ng-model="loginInfo.username" placeholder="Username">
		<input type="password" class="form-control" ng-model="loginInfo.password" placeholder="Password">
		<button ng-click="loginUser()">Anmelden</button>
	</section>
		
</section>