<!-- <p>authenticated-home: {{ authenticated }}</p> -->

<section id="containerLandingPage">
	

<!--
	<section class="sign-up">
		<h2>Registrieren</h2>
		Username OK: {{ registerInfo.usernameOk }}
		<form name="register" ng-submit="register.$valid && registerUser()">
			<input name="username" type="text" ng-model="registerInfo.username" placeholder="Deine Mail Adresse" ng-change="checkUsername()" ng-minlength="3" required>
			<input type="password" ng-model="registerInfo.password" placeholder="Wähle ein Passwort" ng-minlength="4" required>
			<input type="text" ng-model="registerInfo.person1_firstName" placeholder="Dein Vorname" ng-minlength="3" required>
			<button type="submit">Registrieren</button>
		</form>
	</section>
-->
	
	<section class="login">
		<h2>Anmelden</h2>
		
		<form name="login" ng-submit="login.$valid && loginUser()">
			<input type="text" ng-model="loginInfo.username" placeholder="Benutzername (Mail)" ng-minlength="3" required>
			<input type="password" ng-model="loginInfo.password" placeholder="Passwort" required>
			<button type="submit">Anmelden</button>
		</form>
	</section>
		
</section>
<div class="clear"></div>