	<div ng-show="pageVisibility.showContent" class="infoHeader" parallax parallax-ratio="0.5" preload-bg-image="{{'assets/img/static/header-info.jpg'}}" default-image="assets/img/static/placeholder-load.jpg" fallback-image="assets/img/static/placeholder-notfound.png"></div>

<div class="contentContainer" ng-show="pageVisibility.showContent">
	
	<div class="text">
		<h1>Information zu dieser Plattform</h1>
		<p><b>LEIHNAH ist eine Plattform, die das kostenlose Leihen und Verleihen in Wohnsiedlungen vereinfachen und fördern soll.</b></p>
		<p>LEIHNAH ist meine Bachelorarbeit im Studiengang «Interaction Design» an der Zürcher Hochschule der Künste (ZHdK). Sie entstand in den letzten 13 Wochen zusammen mit Bewohnern aus drei Siedlungen in der Stadt Zürich. Der Prototyp von LEIHNAH soll aufzeigen, wie das Leihen und Verleihen in Nachbarschaften vereinfacht werden könnte. Eine Testphase dieses Prototyps läuft im Moment. Ihre Auswertung wird zeigen, wie nützlich diese Plattform für die Bewohner ist, und inwiefern LEIHNAH nach der Testphase weitergeführt wird.</p>
		<p>Die Profile und Gegenstände wurden von den Bewohnern erstellt und hochgeladen. Sie sind für die Ausstellung anonymisiert.</p>
		<p><br>Felix Stricker<br>079 222 01 74<br><a class="text" href="mailto:felix@leihnah.ch">felix@leihnah.ch</a><br />Zürich, Juni 2016</p>
	</div>
</div>