<div ng-include="contextBox.template" ng-show="contextBox.visible" onload="contextBox.loaded()"></div>
<div id="contextBoxOverlay" ng-show="contextBox.visible" class="login" ng-click="contextBox.hide()"></div>


<div class="landingPageWrap">
	<header class="landingPage">
		<div class="content">
			<img class="logo" src="assets/img/static/leihnah-logo.svg" />
			<h1>Mehr Wert in der Nachbarschaft</h1>
			<h2>Leihen spart Geld, schafft Platz, bringt Nähe</h2>
			
			<div class="buttons">
				<a class="bt_dark arrowDown" ng-click="showLogin('top')" ng-class="{'active': contextBox.id == 'login'}">Anmelden</a>
			</div>
			
		</div>
		<div class="clear"></div>
		
	</header>

	<section class="headerBG" preload-bg-image="{{ headerBG }}" default-image="assets/img/static/placeholder-load.jpg" fallback-image="assets/img/static/placeholder-notfound.png" parallax parallax-ratio="0.5"></section>
	
	<section class="main">
		<div class="rowDescription">
			<div class="titleAdd">Siedlungen weisen den Weg</div>
			<h2>Das Potenzial der Nähe nutzen</h2>
			<p>LEIHNAH wurde in bestehenden Communities entwickelt. Einfache Funktionalität ist der Schlüssel für das neue Teilen: Gegenstände fotografieren und sie zum Verleih freigeben oder in den Gerätschaften der Nachbarn stöbern und sie von ihnen leihen.</p>
			<p><b>LEIHNAH organisiert die Abläufe, schont die Ressourcen, nutzt das Potenzial der Nähe und stärkt die Nachbarschaft.</b></p>
			
			<div class="btContainer">
				<a class="bt_dark arrowRight" href>Jetzt deine Siedlung einrichten</a>
			</div>
		</div>
		<div class="clear"></div>
		<div class="rowInspiration">
			<div class="titleAdd">Werkzeuge, Haushaltsgeräte, Spielsachen, ...</div>
			<h2>Nähe macht erfinderisch</h2>
		</div>
		
		<div class="rowInspirationImages">
			<div class="imageWrap" ng-repeat="image in inspirationImages">
				<div class="img" preload-bg-image="{{ image }}" default-image="assets/img/static/placeholder-load.jpg" fallback-image="assets/img/static/placeholder-notfound.png"></div>
				<div class="height"></div>
			</div>
		</div>
		
			
		<div class="rowPostit">
			<div class="titleAdd">Leihen und verleihen, teilen und mit-teilen</div>
			<h2>Nachbarschaft schafft Leidenschaft</h2>
			<p>Die Treiber von LEIHNAH sind Nachbarschaft und Freude – nicht das Geld. Wer teilt, teilt sich mit: Dein <i>Thankyou-Post-it</i> auf LEIHNAH sagt, wie glücklich du bist – über den geteilten Nutzen und über die Nähe, die er schafft.</p>
		</div>
		
		<div class="rowPostitStatements">
			<div class="statement" ng-repeat="statement in statements">
				<div class="imageWrap">
					<div class="img" preload-bg-image="{{ statement.image }}" default-image="assets/img/static/placeholder-load.jpg" fallback-image="assets/img/static/placeholder-notfound.png"></div>
					<div class="height"></div>
				</div>
				<div class="text">{{ statement.text }}</div>
			</div>
		</div>
		
		<div class="rowSettlements">
			<div class="titleAdd">Neubühl, Im Tiergarten, Riedtli</div>
			<h2>LEIHNAH-Siedlungen</h2>
			<p>LEIHNAH wird bereits jetzt in verschiedenen Siedlungen verwendet. Ist deine Siedlung schon dabei?</p>
		</div>
		
		<div class="rowSettlementImages">
			<div class="settlement" ng-repeat="settlement in settlements">
				<div class="imageWrap">
					<div class="img" preload-bg-image="{{ settlement.image }}" default-image="assets/img/static/placeholder-load.jpg" fallback-image="assets/img/static/placeholder-notfound.png"></div>
					<div class="height"></div>
				</div>
				<div class="text">{{ settlement.text }}</div>
			</div>
			
			<div class="btContainer">
				<a class="bt_dark arrowRight" href>Alle LEIHNAH-Siedlungen</a>
			</div>
		</div>
		
		<div class="rowUse">
			<div class="titleAdd">Nutze mit LEIHNAH das Potenzial des Teilens</div>
			
			<div class="exist">
				<h2>Lebst du in einer LEIHNAH-Siedlung?</h2>
				<p>Wenn LEIHNAH in deiner Siedlung bereits das Tool fürs neue Teilen ist, kannst du gleich auf <i>Registrieren</i> weiterklicken: Deine Registrierung wird geprüft, dein Zugang freigeschaltet und du kannst loslegen!</p>
				<div class="btContainer">
					<a class="bt_dark arrowRight" href>Registrieren</a>
					<a class="bt_light arrowRight" ng-click="showLogin('bottom')">Anmelden</a>
				</div>
			</div>
			<div class="notYet">
				<h2>Teilt deine Siedlung noch nicht mit LEIHNAH?</h2>
				<p>Höchste Zeit für den Alltag des nachbarschaftlichen Teilens! Mach den Anfang, richte LEIHNAH für deine Siedlung ein und überzeuge deine Nachbarschaft, Teil des neuen Teilens zu werden.</p>
				<p><b>Und wenn du den Siedlungsverein oder die Verwaltung überzeugen kannst, die Pflege eures LEIHNAH-Tools zu übernehmen, ist die Wirkung umso grösser!</b></p>
				
				<div class="btContainer">
					<a class="bt_dark arrowRight" href>Jetzt deine Siedlung einrichten</a>
				</div>
				
			</div>
		</div>
		
	</section>
	<div class="clear"></div>
	
	<footer>
		<div class="bg"></div>
		<div class="overlay" >
		</div>
		<div class="content">
			<div class="top">
				<img class="logo" src="assets/img/static/leihnah-logo.svg" />
				<div class="slogan">Mehr Wert in der Nachbarschaft</div>
			</div>
			
			<div class="bottom">
				Eine Bachelorarbeit von Felix Stricker. <br />
				Für Fragen oder Anregungen: <a  class="text" href="mailto:felix@leihnah.ch">felix@leihnah.ch</a>
			</div>
		</div>
	</footer>
	
	
</div>