<div ng-include="contextBox.template" ng-show="contextBox.visible" onload="contextBox.loaded()"></div>
<div id="contextBoxOverlay" ng-show="contextBox.visible" ng-click="contextBox.hide()"></div>

<div class="mobile-nav" ng-if="showMobile" ng-class="{showMobileNav: mobileNav == 'show'}" ng-show="pageVisibility.showContent">
	<div class="bg"></div>
	<div class="content">
		<div class="profil">
			<a class="profil" ng-class="{current: state.is('profil.base')}" href ng-click="contextBox.goPageProfil('profil.base'); toggleMobileNav()">
				<div class="profilImage medium" ng-style="profilImageBG"></div>
				<div class="name">{{ currentNeighbor.accountName }}<span>Dein Profil</span></div>
				
			</a>
			
			<a ng-click="contextBox.goPageProfil('profil.objects'); toggleMobileNav()" href ng-class="{current: state.is('profil.objects')}" ng-click="toggleMobileNav()">Deine Gegenstände</a>
			<a ng-click="contextBox.goPageProfil('profil.lend'); toggleMobileNav()" href ng-class="{current: state.is('profil.lend')}" ng-click="toggleMobileNav()"><span ng-show="lends.mark > 0" class="mark small"></span>An die Nachbarn verliehen</a>
			<a ng-click="contextBox.goPageProfil('profil.borrow'); toggleMobileNav()" href ng-class="{current: state.is('profil.borrow')}" ng-click="toggleMobileNav()"><span ng-show="borrows.mark > 0" class="mark small"></span>Von den Nachbarn geliehen</a>
		</div>
		<div class="pages">
			<a ng-class="{current: state.is('objects') || state.includes('object')}" ng-click="toggleMobileNav(); goPageObjects(); resetFilter(); loadObjects(); " href >Gegenstände</a>
		</div>
		<div class="logout">
			<a href ng-click="logoutUser(); toggleMobileNav()">Abmelden</a>
		</div>
		
		
	</div>
</div>

<div id="outherContentWrap" ng-class="{showMobileNav: mobileNav == 'show'}">
	<header class="site" ng-if="!state.is('home') && !state.is('register')">
	
		<div class="containerLogo" ng-click="goPageObjects();">
			<img class="logo" src="assets/img/static/leihnah-logo.svg" />
			{{ currentNeighbor.settlement.name }}
		</div>
	
		<a class="profil" ng-if="showDesktop" ng-class="{current: state.includes('profil') || contextBox.id == 'profil' }" href ng-click="showProfilMenu($event)">
			<span class="name">{{ currentNeighbor.accountName }}</span>
			<span class="profilImage small" ng-style="profilImageBG"><span ng-show="lends.mark > 0 || borrows.mark > 0" class="mark"></span></span>
		</a>
<!--  		content: {{  pageVisibility.showContent }}, contentProfil: {{  pageVisibility.showContentProfil }} -->
		<nav class="pages" ng-if="showDesktop">
			<a ng-class="{current: state.is('objects') || state.includes('object')}" ng-click="goPageObjects();" href>Gegenstände</a>
	<!-- 		<a ui-sref="neighbor">Nachbarn</a> -->
	<!-- 		<a ui-sref="wishlist">Wunschliste</a> -->
		</nav>

		<button class="hamburger" ng-if="showMobile" ng-click="toggleMobileNav()" ng-class="{active: mobileNav == 'show'}">
			<span ng-show="lends.mark > 0 || borrows.mark > 0" class="mark"></span>
			<div></div>
			<div></div>
			<div></div>
		</button>
	</header>
	
	
	<div id="containerMain" ng-class="{'fadeout': fadeout}" class="{{ 'page_'+state.current.name.replace('.', '-') }}"ui-view autoscroll='false' onload="contentLoaded()"></div>
	
	
	<footer ng-show="pageVisibility.showContent">
		<div class="bg"></div>
		<div class="contentWrap">
			<div class="content">
				<div class="top">
					<img class="logo" src="assets/img/static/leihnah-logo.svg" />
					<div class="slogan">Mehr Wert in der Nachbarschaft</div>
				</div>
				
				<div class="bottom">
					Eine Bachelorarbeit von Felix Stricker. <br />
					Für Fragen oder Anregungen: <a  class="text" href="mailto:felix@leihnah.ch">felix@leihnah.ch</a>
				</div>
			</div>
		</div>
		
		
	</footer>
</div>
