<div ng-include="contextBox.template" ng-show="contextBox.visible" onload="contextBox.loaded()"></div>
<div id="contextBoxOverlay" ng-show="contextBox.visible" ng-click="contextBox.hide()"></div>

<div class="mobile-nav" ng-if="showMobile" ng-class="{showMobileNav: mobileNav == 'show'}">
	<div class="content">
		<div class="profil">
			<a class="profil" ng-class="{current: state.is('profil.base')}" ui-sref="profil.base" ng-click="toggleMobileNav()">
				<div class="profilImage medium" ng-style="profilImageBG"></div>
				<div class="name">{{ currentNeighbor.accountName }}<span>Dein Profil</span></div>
				
			</a>
			
			<a ui-sref="profil.objects" ng-class="{current: state.is('profil.objects')}" ng-click="toggleMobileNav()">Deine Gegenstände</a>
			<a ui-sref="profil.lend" ng-class="{current: state.is('profil.lend')}" ng-click="toggleMobileNav()"><span ng-show="lends.mark > 0" class="mark small"></span>An die Nachbarn verliehen</a>
			<a ui-sref="profil.borrow" ng-class="{current: state.is('profil.borrow')}" ng-click="toggleMobileNav()"><span ng-show="borrows.mark > 0" class="mark small"></span>Von den Nachbarn geliehen</a>
		</div>
		<div class="pages">
			<a ng-class="{current: state.is('objects') || state.includes('object')}" ng-click="resetFilter(); loadObjects(); toggleMobileNav()" ui-sref="objects">Gegenstände</a>
		</div>
		<div class="logout">
			<a href ng-click="logoutUser(); toggleMobileNav()">Abmelden</a>
		</div>
		
		
	</div>
</div>

<div id="outherContentWrap" ng-class="{showMobileNav: mobileNav == 'show'}">
	<header class="site" ng-if="!state.is('home') && !state.is('register')">
	
		<div class="containerLogo" ng-click="state.go('objects')">
			<img class="logo" src="assets/img/static/leihnah-logo.svg" />
			{{ currentNeighbor.settlement.name }}
		</div>
	
		<a class="profil" ng-if="showDesktop" ng-class="{current: state.includes('profil') || contextBox.id == 'profil' }" href ng-click="showProfilMenu($event)">
			<span class="name">{{ currentNeighbor.accountName }}</span>
			<span class="profilImage small" ng-style="profilImageBG"><span ng-show="lends.mark > 0 || borrows.mark > 0" class="mark"></span></span>
		</a>
		
		<nav class="pages" ng-if="showDesktop">
			<a ng-class="{current: state.is('objects') || state.includes('object')}" ng-click="resetFilter(); loadObjects()" ui-sref="objects">Gegenstände</a>
	<!-- 		<a ui-sref="neighbor">Nachbarn</a> -->
	<!-- 		<a ui-sref="wishlist">Wunschliste</a> -->
		</nav>

		<button class="hamburger" ng-if="showMobile" ng-click="toggleMobileNav()">
			<span ng-show="lends.mark > 0 || borrows.mark > 0" class="mark"></span>
			<div></div>
			<div></div>
			<div></div>
		</button>
	</header>
	
	
	<div id="containerMain" ng-class="{'fadeout': fadeout}" class="{{ 'page_'+state.current.name.replace('.', '-') }}"ui-view autoscroll='false' onload="contentLoaded()"></div>
	
	
	<footer>
		<div class="content">
			<div class="top">
				<img class="logo" src="assets/img/static/leihnah-logo-negativ.svg" />
				<div class="slogan">Mehr Wert in der Nachbarschaft</div>
			</div>
			
			<div class="bottom">
				Eine Bachelorarbeit von Felix Stricker. <br />
				Für Fragen oder Anregungen: <a href="mailto:felix@leihnah.ch">felix@leihnah.ch</a>
			</div>
		</div>
	</footer>
</div>



<a ng-if="showDesktop" class="linkFeedback" href="mailto:felix@leihnah.ch?Subject=LEIHNAH%20Feedback%20von%20{{ currentNeighbor.accountName.replace(' ', '%20').replace('&', '+') }}&Body=Mein%20Feedback hier...%0A%0A------%0APage:%20{{ window.location.hash }}%0A{{ window.navigator.userAgent }}">Feedback oder Fehler melden</a>