<div class="contentContainer">
	
	<div class="header">
		
		<div class="borrower">
			<div class="name">{{ currentLend.neighborBorrow.accountName }}</div>
			<div class="profilImage medium" ng-style="borrowProfilImageBG"></div>
		</div>
		
		<div class="lender">
			<div class="name">{{ currentNeighbor.accountName }}</div>
			<div class="profilImage medium" ng-style="profilImageBG"></div>
			<div class="img" ng-style="objectImageBG"></div>
		</div>
		
	</div>	
	
	<div class="conversationContainer">
		<div class="timeline" ng-class="{ 'show': currentLend.confirmedDatetime != null }">
			<div class="timelinePast">
				<div class="now"></div>
			</div>
			
		</div>
		
		<div class="messageItem left">	
			<div class="content">
				<div class="title">Anfrage von {{ currentLend.neighborBorrow.accountName }}</div>
				<div class="text">{{ currentLend.requestText }}</div>
				<div class="suggestions">
					
					<div class="get">
						<div class="title">Abholen</div>
						<div class="day" ng-repeat="day in currentLend.timeSuggestions.get">
							<div class="datum">{{ day.date | amDateFormat:'dd, DD.MM.YY' }}</div>
							<div class="times">
								<div class="time" ng-repeat="time in day.durations">{{ time.start }}:00 bis {{ time.end }}:00</div>
							</div>
						</div>
					</div>

					<div class="back">
						<div class="title">Rückgabe</div>
						<div class="day" ng-repeat="day in currentLend.timeSuggestions.back">
							<div class="datum">{{ day.date | amDateFormat:'dd, DD.MM.YY' }}</div>
							<div class="times">
								<div class="time" ng-repeat="time in day.durations">{{ time.start }}:00 bis {{ time.end }}:00</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="date">{{ currentLend.requestDatetime | amDateFormat:'dd, DD.MM.YY' }}</div>
			</div>
		</div>
		
		<div class="messageItem right" ng-show="currentLend.answerDatetime != null">	
			<div class="content">
				<div class="title">Anfrage akzeptiert</div>
				<div class="text">{{ currentLend.answerText }}</div>
				<div class="dates">{{ currentLend.getDatetime | amDateFormat:'dd, DD.MM.YY HH:mm' }} Uhr<br>bis<br>{{ currentLend.backDatetime | amDateFormat:'dd, DD.MM.YY HH:mm' }} Uhr</div>
				<div class="date">{{ currentLend.answerDatetime | amDateFormat:'dd, DD.MM.YY' }}</div>
			</div>
		</div>
		
		<div class="messageItem left" ng-if="currentLend.confirmedDatetime != null">	
			<div class="content">	
				<div class="title">{{ currentLend.neighborBorrow.accountName }} hat die Termine bestätigt</div>
				<div class="date">{{ currentLend.answerDatetime | amDateFormat:'dd, DD.MM.YY' }}</div>
			</div>
		</div>
		
		<div class="messageItem both" ng-if="currentLend.confirmedDatetime != null">	
			<div class="content">	
				<div class="title">Toll! Die Ausleihe findet statt!</div>
			</div>
		</div>
		
		<div class="messageItem both" ng-if="currentLend.confirmedDatetime != null && currentLend.inTime">	
			<div class="content">	
				<div class="title">Übergabe war am {{ currentLend.getDatetime | amDateFormat:'dd, DD.MM.YY HH:mm' }}</div>
			</div>
		</div>
		
		
		<div class="actionBox">
			
			<div class="closed" ng-if="currentLend.state == 'closed'">
				<div class="title">Die Ausleihe wurde von dir storniert</div>
				<div class="text">{{ currentLend.closedText }}</div>
			</div>
			
			<div class="content" ng-if="currentLend.state != 'closed'">
			
				<div ng-show="currentLend.state == 'request'">
						
					<p>Antworte möglichst bald, damit {{ currentLend.neighborBorrow.accountName }} weiss, ob die Verleihung zu stande kommt.</p>
					<a class="bt_dark" href ng-click="openModalCheckData()">Terminvorschläge prüfen</a>
					<a class="bt_light close" href ng-click="openModalClose()">Anfrage ablehnen</a>
				
				</div>
				
				<div ng-show="currentLend.state == 'answered'">
					<p>Warte bis, {{ currentLend.neighborBorrow.accountName }} die Termine bestätigt. Du hast jederzeit die Möglichkeit die Ausleihe zu stornieren.</p>
		
					<a class="bt_light close" href ng-click="openModalClose()">Anfrage stornieren</a>
				
				</div>
				
				<div ng-if="currentLend.state == 'confirmed' && !currentLend.inTime">
					<p>Musst du die Verleihung stornieren, tu dies möglichst frühzeitig.</p>
		
					
					<a class="bt_light" href ng-if="false">Termine anpassen</a>
					<a class="bt_light close" href ng-click="openModalClose()">Verleihung stornieren</a>
					
				</div>
				
				<div ng-if="currentLend.state == 'confirmed' && currentLend.inTime">
					<p>Falls gewünscht, kannst du die Verleihung verlängern.</p>
					
					<a class="bt_light" href ng-if="false">Verleihung verlängern</a>
					
					<p>Denk daran, die Verleihung nach Erhalt des Gegenstandes abzuschliessen.</p>
					
					<a href class="bt_dark" ng-click="openModalClose()">Verleihung abschliessen</a>
				
				</div>
			</div>
		</div>
		
		
		<div class="messageItem both" ng-if="currentLend.confirmedDatetime != null && !currentLend.inTime">	
			<div class="content">
				<div class="title">Übergabe am {{ currentLend.getDatetime | amDateFormat:'dd, DD.MM.YY HH:mm' }}</div>
				<div class="text">Sofern nicht anders vereinbart, wird der Gegenstand von {{ currentLend.neighborBorrow.accountName }} abgeholt.</div>
			</div>
		</div>
		
		<div class="messageItem both" ng-if="currentLend.confirmedDatetime != null">
			<div class="content">	
				<div class="title">Rückgabe am {{ currentLend.backDatetime | amDateFormat:'dd, DD.MM.YY HH:mm' }}</div>
				<div class="text" ng-if="currentLend.inTime">Sofern nicht anders vereinbart, wird der Gegenstand von {{ currentLend.neighborBorrow.accountName }} zurückgebracht.</div>
			</div>
		</div>
	</div>
</div>