<div class="objectContentWrapper">
	<div class="topContainer" ng-class="{ filtered: (filter.search.length > 0 || filter.category != null) }" >
		<div class="bgImage" preload-bg-image="{{'assets/img/static/'+headerImage}}" default-image="assets/img/static/placeholder-load.jpg" fallback-image="assets/img/static/placeholder-notfound.png"></div>
		<h1 ng-show="true || !(filter.search.length > 0 || filter.category != null)">Hallo {{ currentNeighbor.accountName }}</h1>
		
		<div class="searchContainer">
			<input type="text" ng-model="filter.search" placeholder="Was möchtest du leihen?" ng-click="filter.category == null ? filter.category = 'all' : filter.category = filter.category">
			
			<div class="buttons">
				
				<a href class="bt_dark close" ng-click="filter.search = ''; contextBox.setFilterCategory(null)" ng-show="filter.search.length > 0 || filter.category != null"><span>X</span></a>
	
				<a href class="bt_dark arrowDown" ng-click="showCategoryMenu($event)" ng-class="{active: contextBox.id == 'categoryMenu', 'category' : showMobile}"><span>{{ filter.categoryName == '' ? 'Kategorien' : 'Kategorie: '+filter.categoryName }}</span></a>
			</div>
			
		</div>
		
	</div>
	
		
	<div class="contentContainer">
	
		<div class="objectResultContainer" ng-show="filter.search.length > 0 || filter.category != null">
			<div class="topBar">
				<div class="text" ng-if="showDesktop"><b>{{ filtered.length }}</b> {{ filtered.length == 1 ? 'Gegenstand' : 'Gegenstände' }} in {{ filter.category == 'all' ? 'allen Kategorien' : 'der Kategorie' }} <b ng-show="filter.categoryName != 'Alle'">{{filter.categoryName}}</b> <span ng-show="filter.search != ''">mit <b>{{filter.search}}</b></span></div>
				<div class="text" ng-if="showMobile"><b>{{ filtered.length }}</b> {{ filtered.length == 1 ? 'Gegenstand' : 'Gegenstände' }} gefunden</div>
				
				<a ng-click="showOrderMenu($event)" ng-class="{active: contextBox.id == 'orderMenu'}" class="bt_light arrowDown small">{{ order.current.name }}</a>
				
				
			</div>
			<div class="results">
				<div ng-repeat="object in objects | orderBy:order.current.field:order.current.reverse | filter:filterResults as filtered" class="itemObject" id="object_{{object.id}}">
					<div class="imageWrap" ng-click="openObject(object.id)">
						<div class="img" preload-bg-image="{{'assets/img/object/tn_'+object.image_1}}" default-image="assets/img/static/placeholder-load.jpg" fallback-image="assets/img/static/placeholder-notfound.png"></div>
						<div class="height"></div>
					</div>
					
					<div class="info">
						<span class="profilImage small" ng-style="{'background-image':'url('+(object.neighbor.accountImage == '' ? 'assets/img/static/profil-default.svg' : 'assets/img/profil/'+object.neighbor.accountImage)+')'}"></span>
						<div class="objectName">{{ object.name }}</div>
						<div class="accountName">von {{ object.neighbor.accountName }}</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="objectPreviewContainer" ng-show="!(filter.search.length > 0 || filter.category != null)">
			<div class="previewRow">
				<h2>Neue Gegenstände</h2>
				
				<div class="objectContainer">
					<div ng-repeat="object in objectsNew" class="itemObject" ng-click="openObject(object.id)" id="object_{{object.id}}">
						<div class="imageWrap">
							<div class="img" preload-bg-image="{{'assets/img/object/tn_'+object.image_1}}" default-image="assets/img/static/placeholder-load.jpg" fallback-image="assets/img/static/placeholder-notfound.png"></div>
							<div class="height"></div>
						</div>
						
						<div class="info">
							<span class="profilImage small" ng-style="{'background-image':'url('+(object.neighbor.accountImage == '' ? 'assets/img/static/profil-default.svg' : 'assets/img/profil/'+object.neighbor.accountImage)+')'}"></span>
							<div class="objectName">{{ object.name }}</div>
							<div class="accountName">von {{ object.neighbor.accountName }}</div>
						</div>
					</div>
				</div>
				
				<div class="buttons">
					<a class="bt_dark arrowRight" href ng-click="contextBox.changeOrder('newest'); contextBox.setFilterCategory('all')">Mehr neue Gegenstände</a>
				</div>
			</div>
			
			<div class="previewRow">
				<h2>Beliebte Gegenstände</h2>
				
				<div class="objectContainer">
					<div ng-repeat="object in objectsPopular" class="itemObject" ng-click="openObject(object.id)" id="object_{{object.id}}">
						<div class="imageWrap">
							<div class="img" preload-bg-image="{{'assets/img/object/tn_'+object.image_1}}" default-image="assets/img/static/placeholder-load.jpg" fallback-image="assets/img/static/placeholder-notfound.png"></div>
							<div class="height"></div>
						</div>
						
						<div class="info">
							<span class="profilImage small" ng-style="{'background-image':'url('+(object.neighbor.accountImage == '' ? 'assets/img/static/profil-default.svg' : 'assets/img/profil/'+object.neighbor.accountImage)+')'}"></span>
							<div class="objectName">{{ object.name }}</div>
							<div class="accountName">von {{ object.neighbor.accountName }}</div>
						</div>
					</div>
				</div>
				
				<div class="buttons">
					<a class="bt_dark arrowRight" href ng-click="contextBox.changeOrder('popular'); contextBox.setFilterCategory('all')">Mehr beliebte Gegenstände</a>
				</div>
			</div>
			<!--
			<div class="previewRow">
				<h2>Deine Favoriten</h2>
				
				<div class="objectContainer">
					<div ng-repeat="object in objectsFavorites" class="itemObject" ng-click="state.go('object', {objectId: object.id})">
						<div class="imageWrap">
							<div class="img" ng-style="{'background-image':'url(assets/img/object/tn_'+object.image_1+')'}"></div>
							<div class="height"></div>
						</div>
						
						<div class="info">
							<span class="profilImage small" ng-style="{'background-image':'url('+(object.neighbor.accountImage == '' ? 'assets/img/static/profil-default.svg' : 'assets/img/profil/'+object.neighbor.accountImage)+')'}"></span>
							<div class="objectName">{{ object.name }}</div>
							<div class="accountName">von {{ object.neighbor.accountName }}</div>
						</div>
					</div>
				</div>
				
	
				
			</div>
			
			-->
		</div>
	</div>
</div>