<div class="contentContainer" ng-show="pageVisibility.showContent">

	<nav class="sub">
		<div><a href ng-click="contextBox.goPageProfil('profil.base');" ng-class="{current: state.is('profil.base')}">Dein Profil</a></div>
		<div><a href ng-click="contextBox.goPageProfil('profil.objects');" ng-class="{current: state.is('profil.objects')}">Deine Gegenstände</a></div>
		<div><a href ng-click="contextBox.goPageProfil('profil.lend');" ng-class="{current: state.is('profil.lend')}">An die Nachbarn verliehen<span ng-show="lends.mark > 0" class="mark inline"></span></a></div>
		<div><a href ng-click="contextBox.goPageProfil('profil.borrow');" ng-class="{current: state.is('profil.borrow')}"></span>Von den Nachbarn geliehen<span ng-show="borrows.mark > 0" class="mark inline"></a></div>
	</nav>
	
	<div id="containerProfil" ui-view></div>
	
</div>

