<!-- <p>authenticated-profil-base: {{ authenticated }}</p> -->

<div class="profilImage large" ng-style="{'background-image':'url(assets/img/profil/{{ currentNeighbor.accountImage }})'}"></div>

<div class="contact">
	<h3>{{ currentNeighbor.accountName }}</h3>
	<div class="address">{{ currentNeighbor.address }}</div>
	<div class="mail">{{ currentNeighbor.person1_mail }}</div>
	<div class="phone">{{ currentNeighbor.fixnetPhone }}</div>
	<div class="phone">{{ currentNeighbor.person1_phone }}</div>
</div>

<div class="description">
	<p>{{ currentNeighbor.description }}</p>
</div>

<a class="bt_profilEdit" href ng-click="contextmenu.show('profilEdit')">Bearbeiten</a>
<div class="contextmenu small profilEdit" ng-show="contextmenu.current == 'profilEdit'">
	<a href ng-click="contextmenu.hide(); openModalProfilEdit()">Profil bearbeiten</a>
	<a href ng-click="contextmenu.hide(); openModalPasswordEdit()">Passwort ändern</a>
</div>

