<div class="contentContainer">

	<nav class="sub">
		<a ui-sref="profil.base" ng-class="{current: state.is('profil.base')}">Dein Profil</a>
		<a ui-sref="profil.objects" ng-class="{current: state.is('profil.objects')}">Deine Gegenstände</a>
		<a ui-sref="profil.lend" ng-click="contextmenu.hide()" ng-class="{current: state.is('profil.lend')}"><span ng-show="lends.mark > 0" class="mark small"></span>An die Nachbarn verliehen</a>
		<a ui-sref="profil.borrow" ng-click="contextmenu.hide()" ng-class="{current: state.is('profil.borrow')}"><span ng-show="borrows.mark > 0" class="mark small"></span>Von den Nachbarn geliehen</a>
	</nav>
	
	<div id="containerProfil" ui-view></div>

</div>

