<a ui-sref="application">Back</a>

<form name="myForm">
	Text: <input type="text" name="text" ng-model="addInfo.text" size="31" required>
	<i ng-show="myForm.text.$error.required">*required</i>
	<br>Photo: <input type="file" ngf-select ng-model="addInfo.picFile" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFiles">
	<i ng-show="myForm.file.$error.required">*required</i><br>
	<i ng-show="myForm.file.$error.maxSize">File too large {{errorFiles[0].size / 1000000|number:1}}MB: max 2M</i>
	<img ng-show="myForm.file.$valid && !addInfo.uploadedImage" ngf-thumbnail="addInfo.picFile" class="thumb"> 
	<button ng-click="addInfo.picFile = null" ng-show="addInfo.picFile">Remove</button>
	<br>
	<button ng-disabled="!myForm.$valid" ng-click="uploadPic()">Submit</button>
	
	<span class="progress" ng-show="addInfo.picFile.progress >= 0">
		<div style="width:{{picFile.progress}}%" ng-bind="addInfo.picFile.progress + '%'"></div>
	</span>
	<span ng-show="addInfo.uploadedImage">Upload Successful</span>
	<img ng-show="addInfo.uploadedImage" ng-src="{{ addInfo.uploadedImage }}">
	<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
</form>